// garbage to hide the native horizontal scrollbars
.glider-track {
  scrollbar-width: none !important;
}
@-moz-document url-prefix() {
  .glider-track {
    margin-bottom: 17px;
  }
  .glider-contain {
    overflow: hidden;
  }
}

.glider-contain {
  .card {
    background-color: darken($lace,5%);
    padding: 2rem 1rem;
    margin-right: 1rem;
    border-width: 0;
  }
  .card-body > .starred {
    font-weight: 600;
  }
  button {

  }
}
