#data-display {
  &.biographical {
    .tabulator-row {
      display: flex;
      flex-wrap: wrap;
    }
  }
  &.tabulator {
    .tabulator-footer {
      position: absolute;
      text-align: center;
      width: 100%;
    }
  }
}
