:root {
    --bs-body-bg: $lace;
    --bs-body-color: $darkbrown;
    --bs-link-color: inherit;
}

body {
    background-color: $lace;
    color: $darkbrown;
}
nav {
    font-weight: bold;
    text-transform: uppercase;
}
.gradient {
    background: $lace;
    background: linear-gradient(90deg, $lace 0%, $sand 100%);
}
