/* unset sizing and positioning for print */
@mixin print-unset {
  display: block;
  float: none;
  height: auto;
  margin: 0;
  padding: 0;
  position: relative !important;
  width: 100%;
}

@mixin star {
  &:before {
    content: url("/static/images/star.svg");
    position: absolute;
    top: 15%;
    left: 0;
    width: 1rem;
    margin: 0 0.5rem;
  }
}
