.starred {
    @include star;
}
header,
footer {
    h1 {
        font-family: 'Archivo Black', $font-family-sans-serif;
        text-transform: uppercase;
        a {
            text-decoration: none;
        }
        +h2 {
            font-family: $font-family-serif;
            font-size: 1rem;
            font-style: italic;
        }
    }
}
h2 {
  font-family: $font-family-sans-serif;
}
h3 {
  font-family: $font-family-serif;
  font-style: italic;
}
.explore-tabs li a {
  @include star($indigo-blue);
}
