<table class="table table-striped table-sm caption-top">
    <caption>Age categories</caption>
    <thead>
        <tr>
            <th>Category</th>
            <th>Definition</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Infant</td>
            <td>Up to 2 years</td>
        </tr>
        <tr>
            <td>Child</td>
            <td>Over 2 to 14 years</td>
        </tr>
        <tr>
            <td>Youth/Young Adult</td>
            <td>Over 14 to 25 years</td>
        </tr>
        <tr>
            <td>Adult</td>
            <td>Over 25 to 40 years</td>
        </tr>
        <tr>
            <td>Older person</td>
            <td>Over 40 to 55 years</td>
        </tr>
        <tr>
            <td>Elder</td>
            <td>Over 55 years</td>
        </tr>
    <tbody>
</table>
