<div class="">
    <h2>Decolonizing Statement</h2>
    <p>Please note: The headings and terms in this database are largely derived from archival documents, which often contain terms, phrases, and biases that reduce, minimize, or alter Native identities and views of the world.</p>
    <p>The database currently contains <span id="ref-count" class="badge bg-primary"></span> references to individuals drawn from <span id="item-count" class="badge bg-primary"></span> archival records regarding the enslavement of indigenous populations in the Americas, from the 17<sup>th</sup> to the 19<sup>th</sup> centuries.</p>
</div>
<ul class="nav nav-tabs explore-tabs">
    <li class="nav-item">
        <a class="nav-link {% if 'explore' in request.path %} active{% endif %}" href="{% url 'explore_url' %}">People</a>
    </li>
    <li class="nav-item">
        <a class="nav-link {% if 'timeline' in request.path %} active{% endif %}" href="{% url 'timeline_url' %}">Timeline</a>
    </li>
    <li class="nav-item">
        <a class="nav-link {% if 'map' in request.path %} active{% endif %}" href="#">Map</a>
    </li>
    <li class="nav-item">
        <a class="nav-link {% if 'voices' in request.path %} active{% endif %}">Indigenous voices</a>
    </li>
</ul>
