
/* Display toggle for the age field */

#formInputDISAPersonAge_number { 
	display: none;
}

.age-as-number #formInputDISAPersonAge_text {
	display: none;
}

.age-as-number #formInputDISAPersonAge_number {
	display: initial;
}

/* Main tabs have a white background */

#Bibliographic-information, #Items {
  background: white;
}

input, textarea {
	margin-bottom: 12px!important;
}

tags {
	margin-bottom: 12px!important;
}

#tabs_bibinfoanditems h1 {
	font-size: 1.75em!important;
	font-weight: bold;
	margin-bottom: 1.25em;
}

.card-body h2 {
	font-size: 1.75em!important;
}