{% load staticfiles %}
<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Database of enslaved and unfree indigenous people throughout time across the Americas">
    <meta name="author" content="Brown University Library">
    {% if title %}
    <title>{{ title }}</title>
    {% else %}
    <title>Stolen Relations</title>
    {% endif %}
    <link type="text/css" rel="stylesheet" media="screen" href="{% static '/css/style.css' %}" />
    {% block header_other %}
    {% endblock header_other %}
</head>

<body class="container-fluid">
    <header class="d-flex py-2 row  justify-content-between bg-primary">
        <h1 class="col-md-4"><a href="/" class="link-light">Stolen Relations: <span>Recovering Stories of Indigenous Enslavement in the Americas</span></a></h1>
        <form class="col-md-4 mx-2" role="search" class="" action="{% url 'search_results_url' %}" method="get">
            <label for="query" class="visually-hidden">Search</label>
            {% if search_query %}
            <input class="form-control" type="text" placeholder="searched: `{{ search_query }}`" aria-label="Search" id="query" name="query">
            {% else %}
            <input class="form-control" type="text" placeholder="Search for..." aria-label="Search" id="query" name="query">
            {% endif %}
        </form>
    </header>
    <nav class="navbar navbar-expand-sm navbar-dark text-light bg-primary d-flex row">
        <ul class="navbar-nav justify-content-center">
            {% if user_is_authenticated %}
            {% block nav_options %}
            {% endblock nav_options %}
            <li class="nav-item">
                <a class="nav-link" href="{% url 'browse_url' %}" tabindex="-1" aria-disabled="false"><i class="fa-solid fa-rectangle-list"></i> Browse</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'people_url' %}" tabindex="-1" aria-disabled="false"><i class="fa-solid fa-people-group"></i> People</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'redesign_citations_url' %}" tabindex="-1" aria-disabled="false"><i class="fa-solid fa-book-bookmark"></i> Citations</a>
            </li>
            <li class="navbar-text">
                <i class="fa-solid fa-circle-user"></i> Hi, {{ user_first_name }}!
            </li>
            <li class="nav-item">
                {% if logout_next %}
                <a class="nav-link btn btn-outline-light" href="{% url 'logout_url' %}?next={{ logout_next }}">Logout</a>
                {% else %}
                <a class="nav-link btn btn-outline-light" href="{% url 'logout_url' %}?next={% url 'login_url' %}">Logout</a>
                {% endif %}
            </li>
            {% else %}
            <li class="nav-item">
                <a class="nav-link btn btn-outline-light" href="{% url 'login_url' %}"><i class="fa-solid fa-circle-user"></i> Login</a>
            </li>
            {% endif %}
        </ul>
        </div><!-- container -->
    </nav>
    <section class="container">
        <main class="row">
            {% block content %}
            {% endblock content %}
        </main>
        {% block sidebar %}
        {% block sidebar_content %}{% endblock sidebar_content %}
        {% endblock sidebar %}
    </section>
    <footer class="container border-top my-2">
    {% block footer %}{% endblock footer %}
    </footer>
    <!-- Bootstrap 5 JS via CDN -->
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js" integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js" crossorigin="anonymous"></script>
    <!-- Font Awesome 6 JS, using EY's kit -->
    <script src="https://kit.fontawesome.com/c3d52c1b1f.js" crossorigin="anonymous"></script>
    {% block page_specific_js %}
    {% endblock page_specific_js %}
</body>

</html>
