{% load static %}
<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Database of enslaved and unfree indigenous people throughout time across the Americas">
    <meta name="author" content="Brown University Library">
    {% if title %}
    <title>{{ title }}</title>
    {% else %}
    <title>Stolen Relations</title>
    {% endif %}
    <link type="text/css" rel="stylesheet" media="screen" href="{% static '/css/style.css' %}" />
    {% block header_other %}
    {% endblock header_other %}
</head>

<body class="container">
    <header class="d-flex py-2 row justify-content-between bg-light">
        <h1 class="sitename col-md-4"><a href="{% url 'home_url' %}" class="text-dark">Stolen Relations</a></h1>
        <h2 class="col-md-5 align-self-md-end">Recovering Stories of Indigenous Enslavement in the Americas</h2>
        <div class="col-md-2 align-self-md-start">
            {% if user.is_authenticated %}
            <button class="btn btn-primary dropdown-toggle starred" type="button" data-bs-toggle="dropdown">Admin</button>
            <ul class="dropdown-menu align-self-md-end">
                <li><a class="dropdown-item" href="/dashboard">Dashboard</a></li>
                <li><a class="dropdown-item" href="{% url 'logout_url' %}?next={% url 'login_url' %}">Logout</a></li>
            </ul>
            {% else %}
            <button class="btn btn-primary dropdown-toggle starred" type="button" href="{% url 'login_url' %}">Login</button>
            {% endif %}
        </div>
    </header>
    <nav class="navbar navbar-expand-sm bg-primary row">
        <ul class="navbar-nav d-flex justify-content-between offset-1 col-10">
            {% block nav_options %}
            {% endblock nav_options %}
            <li class="nav-item">
                <div class="d-flex align-items-center"><a href="{% url 'about_url' %}" tabindex="-1" aria-expanded="false" class="nav-link{% if 'about' in request.path %} active{% endif %}">About</a>
                    <span id="about-trigger" class="dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false"></span>
                    <ul class="dropdown-menu">
                        <!-- TODO: @Birkin, these should link to {% verbatim %}{% url team_url %} and {% url contact_url %}{% endverbatim %} but this breaks reverse? -->
                        <li><a href="/about/team" class="dropdown-item">Team</a></li>
                        <li><a href="/about/contact" class="dropdown-item">Contact</a></li>
                    </ul>
                </div>
            </li>
            <li class="nav-item">
                <div class="d-flex align-items-center">
                    <a href="{% url 'learn_url' %}" tabindex="-1" aria-disabled="false" class="nav-link{% if 'learn' in request.path %} active{% endif %}">Learn</a>
                    <span id="learn-trigger" class="dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false"></span>
                    <ul class="dropdown-menu">
                        <li><a href="" class="dropdown-item">About Indigenous enslavement</a></li>
                        <li><a href="" class="dropdown-item">Essays</a></li>
                        <li><a href="" class="dropdown-item">Stories</a></li>
                        <li><a href="" class="dropdown-item">Suggested reading</a></li>
                    </ul>
                </div>
            </li>
            <li class="nav-item"><a class="nav-link{% if 'explore' in request.path %} active{% endif %}" href="{% url 'explore_url' %}" tabindex="-1" aria-disabled="false">Explore</a></li>
            <li class="nav-item">
                <div class="d-flex align-items-center">
                    <a href="{% url 'educate_url' %}" tabindex="-1" aria-disabled="false" class="nav-link{% if 'educate' in request.path %} active{% endif %}">Educate</a>
                    <span id="educate-trigger" class="dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false"></span>
                    <ul class="dropdown-menu">
                        <li><a href="" class="dropdown-item">Lesson plans</a></li>
                        <li><a href="" class="dropdown-item">Suggested reading</a></li>
                </div>
            </li>
            <li class="nav-item"><a href="{% url 'partners_url' %}" tabindex="-1" aria-disabled="false" class="nav-link{% if 'partners' in request.path %} active{% endif %}">Tribal Partners</a></li>
            <li class="nav-item"><a href="{% url 'contribute_url' %}" tabindex="-1" aria-disabled="false" class="nav-link{% if 'contribute' in request.path %} active{% endif %}">How to Contribute</a></li>
            <li class="nav-item"><a href="#" tabindex="-1" aria-disabled="false" class="nav-link disabled" title="see indigenoussslavery.org for now!">Blog</a></li>
        </ul>
        </div><!-- container -->
    </nav>
    <main id="main" class="row">
        {% block content %}
        {% endblock content %}
    </main>
    <footer class="row my-2 bg-dark text-light">
        {% block footer %}
        <div class="border-bottom my-2 py-2 d-flex">
            <h1 class="sitename col-md-4"><a href="{% url 'home_url' %}" class="text-light">Stolen Relations</a></h1>
            <h2 class="col-md-5 align-self-md-end">Recovering Stories of Indigenous Enslavement in the Americas</h2>
        </div>
        <div class="col-md-4">
            <h2>Contact</h2>
            <p>Brown University <br />
                <a href="mailto:stolenrelations-info@brown.edu">stolenrelations-info@brown.edu</a></p>
        </div>
        <div class="col-md-8">
            <h2>About this site</h2>
            <p>Stolen Relation has been generously funded and supported by ...</p>
            <p><a href="{% url 'about_url' %}">Read acknowledgments</a></p>
        </div>
        {% endblock footer %}
    </footer>
    <!-- Bootstrap 5 JS via CDN -->
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js" integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js" crossorigin="anonymous"></script>
    <!-- Font Awesome 6 JS, using EY's kit -->
    <script src="https://kit.fontawesome.com/c3d52c1b1f.js" crossorigin="anonymous"></script>
    {% block page_specific_js %}
    {% endblock page_specific_js %}
</body>

</html>
