{% extends "disa_app_templates/base.html" %}
{% load staticfiles %}


{# in <head> #}


{% block header_other %}
<link rel="shortcut icon" type="image/ico"
    href="favicon.ico" />
<link rel="stylesheet" href="{% static 'css/browse_tabulator.css' %}" />

<!-- Bootstrap -->

<link   rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
        integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z"
        crossorigin="anonymous" />
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>

<!-- Tabulator library -->

<link rel="stylesheet" href="{% static 'css/tabulator_bootstrap4.min.css' %}" />
<script src="{% static 'js/tabulator.js' %}"></script>

<!-- Lunr -->

<script src="{% static 'js/lunr.min.js' %}"></script>

{% endblock header_other %}


{# in <body> #}


{% block header_options %}

    {% if user_is_authenticated %}
        {% comment %}
        <li class="nav-item">
            <a class="nav-link text-white" href="{% url 'browse_logout_url' %}">FOO</a>
        </li>
        {% endcomment %}
    {% else %}
        {% if browse_logged_in %}
        <li class="nav-item">
            <a class="nav-link text-white" href="{% url 'browse_logout_url' %}">browse-logout</a>
        </li>
        {% endif %}
    {% endif %}

{% endblock header_options %}


{% block content %}

<!-- Details modal -->

<div class="modal fade" id="details-modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
    <div class="modal-dialog modal-xl" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title">
                    Details about <span class="details-title-name"></span>
                </h1>
                <div class="badge badge-primary">id <span id="details-id"></span></div>
                {% if user_is_authenticated %}
                <br />
                <div class="btn-group" role="group" id="modal-edit-button-group">
                    <a type="button" class="btn btn-primary" id="referent-edit-link"
                       title="Edit the data for this person">
                        Edit person
                    </a>
                    <a type="button" class="btn btn-primary" id="record-edit-link"
                       title="Edit the data for the record which contains a reference to this person">
                        Edit record
                    </a>
                    <a type="button" class="btn btn-primary" id="source-edit-link"
                       title="Edit the bibliographic entry for the document that is the source for this information">
                        Edit source
                    </a>
                </div>
                {% endif %}
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="card">
                    <div class="card-header">
                        From <em id="details-doc"></em>
                    </div>
                    <div class="card-body">
                        <p class="card-text" id="details-transcription"></p>
                        <a href="" id="item-facsimile" target="_blank"
                            class="badge badge-secondary"
                            title="Link to scanned image of this document. May require permission.">
                          Document image
                        </a>
                    </div>
                </div>
                <h2>Personal details</h2>
                <table id="details-table" class="table">
                </table>
                <h2>About the source</h2>
                <p style="font-style: italic">
                    A note on terminology: information about individuals are recorded from "records" (such as an advertisement announcing a person fleeing enslavement)
                    that are contained in "sources" (such as a newspaper).
                </p>
                <table id="source-details-table" class="table">
                </table>

                    <!--
                <p id="details-introduction">
                    We know about <span id="details-name"></span> from a document titled
                    "<span id="details-doc"></span>" dated <span id="details-doc-date"></span>.
                </p>
                <div id="details-transcription" class="highlight"></div> -->
            </div>
        </div>
    </div>
</div>

<!-- "Loading ..."" modal -->

<div class="modal fade" id="loadingModal" data-backdrop="static" tabindex="-1" role="dialog" 
     aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-body" id="loadingModalMessage">
                <span class="spinner-grow spinner-grow-sm" role="status" aria-hidden="true"></span>
                Loading...
            </div>
        </div>
    </div>
</div>

<!-- Main content container: search and results -->

<div class="col-12 mt-4" id="main-content">

    <!-- Title and information header -->

    <h1>
        Experimental Search
    </h1>

    <div class="row">
        <p class="col-6">
            <em>Welcome, community collaborators!</em> This is a
            preliminary, experimental search portal of the
            <a href="http://indigenousslavery.org">Stolen Relations: Recovering Stories of Indigenous Enslavement in the Americas</a>, which
            allows you to search 
            <span id="ref-count" class="badge badge-secondary"></span>
            references to individuals drawn from 
            <span id="item-count" class="badge badge-secondary"></span> 
            archival records regarding the enslavement of indigenous 
            populations in the Americas, from the 17<sup>th</sup> to the 
            19<sup>th</sup> centuries.
        </p>
        <div class="col-6">
            <p>
                As you explore, please understand that <em>this
                database is currently under development and may
                contain errors, and will continuously be
                updated</em>.
            </p>
            <p>
                We welcome any and all feedback, corrections,
                and suggestions for future development &mdash;
                please contact <a href="mailto:linford_fisher@brown.edu">linford_fisher@brown.edu</a>.
            </p>
        </div>
    </div>

    <!-- 2-column layout: query and search results on left, decolonizing frame on right -->

    <div class="row">

        <div class="col-9" id="search-and-results">

            <!-- Search query area -->

            <div class="top-search-div row">
                <div class="col-6">
                    <label for="general-search">
                        Search in any field for
                        <input type="text" id="general-search"></input>
                    </label>
                    <em class="text-nowrap">
                        &nbsp;(to focus your search, use the fields below)
                    </em>
                </div>
                <div class="col-6">
                    <p id="view-options">View results as
                        <input type="radio" id="biographical-view-option" name="view-type" value="biographical" checked>
                        <label for="biographical-view-option">biographies</label>
                        <input type="radio" id="tabular-view-option" name="view-type" value="tabular">
                        <label for="tabular-view-option">a table</label>
                    </p>
                    <p>
                        <button id="download-data" title="Download the results as a CSV file">
                            Download results
                        </button>
                    </p>
                </div>
            </div>

            <!-- Container for data table (tabulator library output) -->

            <div id="data-display" class="table-borderless biographical">
                &nbsp;
            </div>
        </div>
        <div class="col-3" id="dcf">
            <h2>Notes</h2>
            <template id="dcf-resource-template">
                <div class="dcf-resource card bg-light mb-3">
                    <div class="card-header">
                        <span class="dcf-number badge bg-primary text-light"></span>
                        <span class="dcf-resource-title"></span>
                        <a class="dcf-resource-link card-link stretched-link" 
                            href="#" target="_BLANK"
                            style="font-weight: bold; font-size: 80%"
                            title="">&nbsp;</a>
                    </div>
                    <div class="card-body">
                        <img class="dcf-featured-image" src="" alt="" />
                        <span class="dcf-resource-text"></span>
                    </div>
                </div>
            </template>
            <div id="dcf-content"></div>
        </div>
    </div>

    <!-- Footer: Acknowledgements -->

    <div class="info-box acknowledgements">
        <h5>Acknowledgements</h5>
        <p>Stolen Relations has been generously funded and supported by <a
                href="https://www.brown.edu/academics/population-studies/">the Population
                Studies and Training Center</a> (Brown&nbsp;University), <a
                href="https://www.brown.edu/initiatives/social-science-research/">the Social
                Sciences Research Institute</a> (Brown&nbsp;University), <a
                href="https://www.brown.edu/research/conducting-research-brown/about-office">the Office
                of the Vice President for Research</a> (Brown&nbsp;University), <a
                href="https://cssj.brown.edu/">the Center 
                for the Study of Slavery and Justice</a> (Brown&nbsp;University), and <a
                href="http://cds.library.brown.edu/">the Center for
                Digital Scholarship</a> (Brown&nbsp;University&nbsp;Library)</p>
    </div>
</div>

{% endblock content %}


{% block scripts%}

        <!-- Main setup routine -->

        <script type="module" defer src="{% static 'js/browse_tabulator.js' %}"></script>

{% endblock %}
