{% extends "disa_app_templates/base.html" %}
{% load staticfiles %}

{% block header_other %}
<link rel="shortcut icon" type="image/ico"
    href="favicon.ico" />
<link rel="stylesheet" href="{% static 'css/browse_tabulator.css' %}" />

<!-- Tabulator library -->

<link href="https://unpkg.com/tabulator-tables@4.7.2/dist/css/tabulator.min.css" rel="stylesheet">
<script src="https://unpkg.com/tabulator-tables@4.7.2/dist/js/tabulator.min.js"></script>

{% endblock %}

{% block content %}

<div class="col-10" style="width: 75%">

    <div hidden>
        <label for="#bb">YES<input id="bb"></input></label>
        <label for="#cc">NOPE<input id="cc"></input></label>
    </div>
    <br/>
    
    <div id="data-display">&nbsp;</div>
    
    <div class="info-box acknowledgements">
        <h3>Acknowledgements</h3>
        <p>DISA has been generously funded and supported by:
            Population Studies and Training Center (Brown
            University), Social Sciences Research Institute,
            (Brown University), Office of the Vice President for
            Research (Brown University), and Center for Digital
            Scholarship (Brown University Library)</p>
    </div>
    
    <input type="hidden" id="denormalized_json_url"
        name="variable" value="{{ denormalized_json_url }}" />
    <input type="hidden" id="info_image_url" name="variable"
        value="{{ info_image_url }}" />
</div>

{% endblock %}

{% block scripts%}
    <script src="{% static 'js/browse_tabulator.js' %}"></script>
{% endblock %}