{% extends "disa_app_templates/base.html" %}
{% load staticfiles %}

{% block header_other %}
<link rel="shortcut icon" type="image/ico"
    href="favicon.ico" />
<link rel="stylesheet" href="{% static 'css/browse_tabulator.css' %}" />

<!-- Bootstrap -->

<link   rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" 
        integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" 
        crossorigin="anonymous" />
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" 
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" 
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" 
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" 
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" 
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" 
        crossorigin="anonymous"></script>

<!-- Tabulator library -->

<!--<link href="https://unpkg.com/tabulator-tables@4.7.2/dist/css/tabulator.min.css" rel="stylesheet">-->
<link href="https://unpkg.com/tabulator-tables@4.7.2/dist/css/bootstrap/tabulator_bootstrap4.min.css" rel="stylesheet">
<script src="https://unpkg.com/tabulator-tables@4.7.2/dist/js/tabulator.min.js"></script>

<!-- Lunr -->

<script src="https://unpkg.com/lunr/lunr.js"></script>

{% endblock %}

{% block content %}

<!-- Details modal -->

<div class="modal fade" id="details-modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
    <div class="modal-dialog modal-xl" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title">
                    Details about <span class="details-title-name"></span>
                </h1>
                <div class="badge badge-primary">id:<span id="details-id"></span></div>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                    <div class="card">
                        <div class="card-header">
                            From <em id="details-doc"></em>
                        </div>
                        <div class="card-body">
                            <p class="card-text" id="details-transcription"></p>
                        </div>
                    </div>
                    <h2>Information entered for <span class="details-title-name"></span></h2>
                    <table id="details-table" class="table">
                    </table>
                    <!-- 
                <p id="details-introduction">
                    We know about <span id="details-name"></span> from a document titled 
                    "<span id="details-doc"></span>" dated <span id="details-doc-date"></span>.
                </p>
                <div id="details-transcription" class="highlight"></div> -->
            </div>
        </div>
    </div>
</div>

<div class="col-12">

    <label for="general-search" style="margin-top: 2.5em; font-weight: bold;">
        Search in any field for
        <input type="text" id="general-search" style="margin: 0 1em; height: 2.25em;"></input>
    </label>
    <em>&nbsp;(to focus your search, use the fields below)</em>

    <p id="view-options">View results as 
        <input type="radio" id="biographical-view-option" name="view-type" value="biographical" checked>
        <label for="biographical-view-option">biographies</label>
        <input type="radio" id="tabular-view-option" name="view-type" value="tabular">
        <label for="tabular-view-option">a table</label>
    </p>
<!--
    <input type="checkbox" id="biographical-view" style="margin: 1em 0">
        Tabular view
    </input><br/> -->
    
    <!-- Main data table -->

    <hr>

    <div id="data-display" class="table-borderless biographical">
        &nbsp;
    </div>
    
    <div class="info-box acknowledgements">
        <h5>Acknowledgements</h5>
        <p>DISA has been generously funded and supported by <a
                href="https://www.brown.edu/academics/population-studies/">the Population
                Studies and Training Center</a> (Brown&nbsp;University), <a
                href="https://www.brown.edu/initiatives/social-science-research/">the Social
                Sciences Research Institute</a> (Brown&nbsp;University), <a
                href="https://www.brown.edu/research/conducting-research-brown/about-office">the Office
                of the Vice President for Research</a> (Brown&nbsp;University), and <a
                href="http://cds.library.brown.edu/">the Center for
                Digital Scholarship</a> (Brown&nbsp;University&nbsp;Library)</p>
    </div>
    
    <input type="hidden" id="denormalized_json_url"
        name="variable" value="{{ denormalized_json_url }}" />
    <input type="hidden" id="info_image_url" name="variable"
        value="{{ info_image_url }}" />
</div>

{% endblock %}

{% block scripts%}
    <script src="{% static 'js/browse_tabulator.js' %}"></script>
{% endblock %}