{% extends "disa_app_templates/base.html" %}
{% load static %}


{# in <head> #}


{% block header_other %}

    <link rel="shortcut icon" type="image/ico" href="favicon.ico" />

{% endblock header_other %}

{% block nav_options %}
{% endblock nav_options %}

{# in <body> #}

{% block content %}

    <form id="non_shib_form" action="{{ browse_url }}" method="POST">{% csrf_token %}
        <h1>Welcome community-partner!</h1>
        <h2>Please login with your username and password</h2>
        <label for="username_field_input">Username:</label>
        <input id="username_field_input" type="text" name="browse_login_username" value="{{ browse_login_username }}">
        <label for="password_field_input">Password:</label>
        <input id="password_field_input" type="password" name="browse_login_password" value="{{ browse_login_password }}">
        {% if browse_login_error %}
            <p>Problem: based on your login, it appears you're not authorized to use this database-browser.</p>
            <p>If you believe you should be able to login to this system, please contact someone at this <a href="{{ contact_url }}">{{ contact_url }}</a> web-page for assistance.</p>
        {% endif %}
        <button class="btn" id="browse_login_button" type="submit">Log in</button>
    </form>

{% endblock content %}
