{% extends "disa_app_templates/base.html" %}
{% load static %}
{% block header_other %}
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/tabulator-tables@5/dist/css/tabulator_bootstrap5.min.css">
{% endblock header_other %}
{% block nav_options %}
{% endblock nav_options %}
{% block content %}
<div class="row my-2">
    <!-- Add new source -->
    <div class="col-sm-6 col-md-4">
        <div class="card">
            <h2 class="card-header"><i class="fa-solid fa-circle-info"></i> Dashboard</h2>
            <div class="card-body">
                <p>Data last updated: {{ meta.date_produced|date:"M j L" }}, {{ meta.date_produced|time:"P e" }}</p>
                <h3>Links</h3>
                <p><small>All of these links open in a new tab.</small></p>
                <ul>
                    <li>
                        <a href="https://docs.google.com/document/d/1e6d1bsxpGnj5kak2jLBUb3qYnIS2vsDwv0Ejf2AlPo8/edit" target="_blank">
                            RA guide
                        </a>
                    </li>
                    <li><a href="https://docs.google.com/forms/d/e/1FAIpQLScy4I14ew7R9YetXUTfejAcWK0YbNo2ATRqAl7ChmB6gcXC2Q/viewform" target="_blank" title="Link to Google form for submitting problem reports or requests for help">Report problems or ask for help</a></li>
                    <li><a href="https://docs.google.com/document/d/1SmDSyShMIDhDIojJJS258rBUpfSF43YgM-xlTwyBTYI/edit?usp=sharing" target="_blank">Who to contact with questions</a></li>
                    <li><a href="https://docs.google.com/spreadsheets/d/15gyNU_T_4JdM4SriUs2UkekOixAAx9T-8d8vn2WjuEU/edit#gid=0" target="_blank">Additional information spreadsheet</a></li>
                    <li><a href="https://docs.google.com/forms/d/e/1FAIpQLSeVq22dlWBUz3YDDUC2hCxv0iLs0wb2EuCayEsOEwjmsDn4CA/viewform" target="_blank">Image uploads form</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="col-sm-6 col-md-4">
        <div class="card">
            <h1 class="card-header h2">
                <i class="fa-solid fa-square-plus"></i> Create a new source
            </h1>
            <div class="card-body text-center">
                <p class="card-text">Please double-check that a source does not already exist before you start entering information!</p>
                <button type="button" class="btn btn-primary btn-lg" id="createNewSourceButton" title="Create a new source"><i class="fa-solid fa-square-plus"></i> Create a new source
                </button>
            </div>
            <div class="card-footer">
                <ul>
                    <li>Does it mention specific people or groups of people?</li>
                    <li>Is this person/group of Indigenous descent?</li>
                    <li>Is this Indigenous person/group in some way unfree or coerced into labor (even if it's implied)?</li>
                </ul>
            </div>
        </div>
    </div>
    <div class="col-sm-6 col-md-4">
        <div class="card">
            <h2 class="card-header"><i class="fa-solid fa-pen-nib"></i> Find an existing source</h2>
            <div class="card-body row">
                <!-- Title filter field -->
                <div class="form-input">
                    <label for="title-filter" class="col-3 form-label">Title</label>
                    <input id="title-filter"></input>
                </div>
                <!-- Source ID filter field -->
                <div class="form-input">
                    <label for="id-filter" class="col-3 form-label">Source ID</label>
                    <input id="id-filter"></input>
                </div>
                <!-- toggle all entries vs my entries -->
                <div class="form-input">
                    <label class="form-check-label col-6" for="current-user-only">
                        Show only your entries
                    </label>
                    <input class="form-check-input" type="checkbox" id="current-user-only">
                </div>
                <!-- Editor filter field -->
                <div class="form-input">
                    <label for="editor-filter" class="form-label col-3">Editor</label>
                    <input id="editor-filter"></input>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
<div id="all-sources"></div>
<!-- Delete confirmation modal -->
{% include "disa_app_templates/modals/confirm_deletion.html" %}
{% endblock content %}
{% block footer %}
{% endblock footer %}
{% block page_specific_js %}
<!-- Tabulator -->
<script src="https://cdn.jsdelivr.net/npm/tabulator-tables@5/dist/js/tabulator.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/luxon@3/build/global/luxon.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/moment@2/moment.min.js"></script>
<!-- Main page setup -->
<script>
// Global SR object

window.sr = {};

// sr.setModalDeleteUrl called by (x)delete buttons

const deleteSourceConfirmButton = document.getElementById('delete-source-confirm');
window.sr.setModalDeleteUrl = function(url) {
    deleteSourceConfirmButton.dataset.deleteUrl = url;
}

// Create a new Source on server

async function createNewSource() {

    const url = "{{ API_URL_ROOT }}documents/",
        TOKEN = '{{ csrf_token }}',
        requestBody = {
            'acknowledgements': '',
            'citation_type_id': 20, // means the fields below will be 'Book' fields
            'comments': '',
            'fields': {
                'ISBN': '',
                'abstractNote': '',
                'accessDate': '',
                'archive': '',
                'archiveLocation': '',
                'author': '',
                'callNumber': '',
                'date': '',
                'edition': '',
                'extra': '',
                'language': '',
                'libraryCatalog': '',
                'numPages': '',
                'numberOfVolumes': '',
                'pages': '',
                'place': '',
                'publisher': '',
                'rights': '',
                'series': '',
                'seriesNumber': '',
                'shortTitle': '',
                'title': '',
                'url': '',
                'volume': ''
            }
        },
        fetchOptions = {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json',
                'X-CSRFToken': TOKEN
            },
            body: JSON.stringify(requestBody)
        };

    const response = await fetch(url, fetchOptions);

    if (response.ok) {

        const dataJSON = await response.json(),
            sourceIdMatch = dataJSON.redirect.match('/redesign_citations/([^/]+)/');

        if (sourceIdMatch && sourceIdMatch[1]) {
            window.location.href = `${sourceIdMatch[1]}/`;
        } else {
            console.error(`Can't create new source: redirect URL format error`, dataJSON);
        }
    } else {
        console.error("Error on server creating new Source", { fetchOptions, response });
    }
}

async function deleteSource({ target }) {

    const deleteSourceConfirmButton = target;

    console.log('DELETE SOURCE ' + deleteSourceConfirmButton.dataset.deleteUrl, deleteSourceConfirmButton);

    const url = deleteSourceConfirmButton.dataset.deleteUrl,
        TOKEN = '{{ csrf_token }}',
        fetchOptions = {
            method: 'DELETE',
            headers: {
                'Content-Type': 'application/json',
                'X-CSRFToken': TOKEN
            }
        };

    console.log('DELETING SOURCE', {
        url,
        fetchOptions
    });

    const response = await fetch(url, fetchOptions);

    if (response.ok) {
        console.log(response);
        location.reload();
    } else {
        console.log('FAILED', response);
        // What?? Error handling
    }
}

// Go to Source's edit form

function openSourceEditPage(sourceId) {
    window.location.href = `./${sourceId}`;
}

// Set up handler for "show details"

function initToggleTableDetailsButton(table) {
    const showDetailsSwitch = document.getElementById('show-details'),
        showOnlyCurrentUserSwitch = document.getElementById('current-user-only');
    showDetailsSwitch.addEventListener('change', function() {
        const colOp = showDetailsSwitch.checked ? 'showColumn' : 'hideColumn';
        table[colOp]('id');
        table[colOp]('date');
        if (!showOnlyCurrentUserSwitch.checked) {
            table[colOp]('editor');
        }
    });
    showDetailsSwitch.dispatchEvent(new Event('change'));
}

// Set up handler for "show current user" --
//  sets "editor" filter field & hides editor column

function initShowOnlyCurrentUserButton(table, editorFilterElem) {
    const userEmail = window.sr.userEmail;
    const showOnlyCurrentUserButton = document.getElementById('current-user-only');
    showOnlyCurrentUserButton.addEventListener('change', function() {
        if (showOnlyCurrentUserButton.checked) {
            editorFilterElem.value = userEmail;
            editorFilterElem.parentNode.hidden = true;
            table.hideColumn('editor');
            editorFilterElem.dispatchEvent(new Event('input'));
        } else {
            editorFilterElem.value = '';
            editorFilterElem.parentNode.hidden = false;
            table.showColumn('editor');
            editorFilterElem.dispatchEvent(new Event('input'));
        }
    });
    showOnlyCurrentUserButton.checked = true;
    showOnlyCurrentUserButton.dispatchEvent(new Event('change'));
}

// Main Tabulator setup

function initializeTabulator(tableSelector, ajaxURL) {

    // Formatter for incoming JSON

    const ajaxResponse = function(url, params, response) {

        window.sr.userEmail = (response.user_documents.length) ?
            response.user_documents[0].email :
            undefined;

        const rows = response.documents.map(docData => {
            return {
                title: docData.doc.display,
                id: docData.doc.id,
                date: docData.date.dt_date,
                editor: docData.email
            }
        });

        return rows;
    }

    const titleColumnFormatter = function(cell, formatterParams, onRendered) {
        const recordId = cell._cell.row.data.id;
        return `
        <a href="./${recordId}">${cell.getValue()}</a>
        <button type="button" class="btn btn-outline-danger btn-sm float-end delete-source"
                data-delete-url="{{ API_URL_ROOT }}documents/${recordId}"
                data-bs-toggle="modal" data-bs-target="#delete-source-modal"
                onclick="window.sr.setModalDeleteUrl('{{ API_URL_ROOT }}documents/${recordId}')">
          delete
        </button>`;
    }

    const columns = [
        { title: 'Title', field: 'title', formatter: titleColumnFormatter },
        { title: 'ID', field: 'id' },
        {
            title: 'Source created',
            field: 'date',
            formatter: 'datetime',
            formatterParams: {
                inputFormat: "iso",
                outputFormat: "DDD",
                invalidPlaceholder: true,
            },
            headerSort: true,
            sorter: 'date',
            sorterParams: {
                format: 'iso',
                alignEmptyValues: 'top',
            }
        },
        { title: 'Editor', field: 'editor' }
    ];

    // Row click handler: go to Source edit page (unless user
    //  was clicking the 'delete' button)

    const rowClick = function(e, row) {
        const isFromDeleteButton = e.target.classList.contains('delete-source');
        if (!isFromDeleteButton) {
            openSourceEditPage(row._row.data.id);
        }
    };

    const tabulatorSettings = {
        ajaxURL,
        ajaxResponse,
        columns,
        //dataProcessed: initTableFilterFields,
        pagination: true,
        paginationSize: 20,
        paginationSizeSelector: [20, 50, 100],
    };


    const table = new Tabulator(tableSelector, tabulatorSettings);
    table.on("dataProcessed", initTableFilterFields);

    return table;
}

// Initialize onChange handlers for filters

function initTableFilterFields() {

    const table = this,
        [titleFilterElem, idFilterElem, editorFilterElem] = ['title-filter', 'id-filter', 'editor-filter'].map(
            id => document.getElementById(id)
        );

    function setAllFilters() {
        table.setFilter([
            { field: 'title', type: 'like', value: titleFilterElem.value },
            { field: 'id', type: 'like', value: idFilterElem.value },
            { field: 'editor', type: 'like', value: editorFilterElem.value },
        ]);
    }

    [titleFilterElem, idFilterElem, editorFilterElem].forEach(
        filterElem => filterElem.oninput = setAllFilters
    );

    initShowOnlyCurrentUserButton(table, editorFilterElem);
}

// Main: set up handlers for sidebar documentation and "New Source" button

window.addEventListener('DOMContentLoaded', () => {

    // Initialize new-source button

    document.getElementById('createNewSourceButton')
        .addEventListener('click', createNewSource);

    // Initialize confirm button in delete-source modal

    const deleteSourceConfirmButton = document.getElementById('delete-source-confirm');
    deleteSourceConfirmButton.addEventListener('click', deleteSource);

    // Initialize interactive (Tabulator-based) table

    const TABLE_SELECTOR = '#all-sources',
        TABLE_DATA_URL = './?format=json';

    const table = initializeTabulator(TABLE_SELECTOR, TABLE_DATA_URL);
});

</script>
{% endblock page_specific_js %}
