{% load staticfiles %}


<!DOCTYPE html>
<html>
<head>
    <!-- <script src="{% static 'lib/jquery/jquery-3.3.1.min.js' %}"></script> -->
    <script src="{% static 'lib/jquery/jquery-3.5.0.min.js' %}"></script>

    <script type="text/javascript" src="{% static 'js/hilitor.js' %}"></script>
    <title></title>
</head>
<body>

    <div id="id_handle">
        <pre>
    {{ j_string }}
        </pre>
    </div>

    <script type="text/javascript">
        $( document ).ready(function() {
            var myHilitor = new Hilitor("id_handle"); // id of the element to parse
            console.log( "myHilitor, ", myHilitor );
            {% if search_query %}
                var search_term = "{{ search_query}}";
                console.log( "search_term, ", search_term );
                myHilitor.setMatchType("open");
                // myHilitor.apply( "comments" );
                myHilitor.apply( search_term );
            {% endif %}
        });
    </script>

</body>
</html>
