{% extends "disa_app_templates/editor.html" %}


{# in <head> #}


{% block header_other %}
{{ block.super }}  {# adds-to the `editor.html` `header_other` block, instead of replacing it. #}

<style>

    div.row {
        margin-top: .25em;
    }

    p#document_header_label {
        font-style: italic;
        margin-top: .5em;
        margin-bottom: 0;
    }

    a#back_to_documents {
        float: right;
        margin-left: -5em;
    }

    span.click_message {
        font-size: 12px;
        font-weight: 300;
        font-style: italic;
    }

    #document_header {
        font-size: 150%;
    }

    h2#items_header {
        margin-top: .5em;
    }

    #citation_fields {
        display: flex;
        flex-flow: row wrap;
        list-style: none;
        padding-right: 20px;
    }
    .citation-field {
        flex: 0 1 30%;
        margin: 2px 0 0 5px;
    }

    th.ref-id-col {
      width: 20%;
    }

    th.ref-label-col {
      width: 25%;
    }

    th.ref-date-col {
      width: 25%;
    }

    .deactivate-delete {
      margin-right: 10%;
    }


    /*deletion-confirmation*/
    p#confirmation-line-2 {
        margin-top: -1em;
    }


</style>
{% endblock %}


{# in <body> #}


{% block content %}
<!-- <div class="container"> -->
    <p id="document_header_label">Document... <span class="click_message">(click to open/close)</span></p>
    <a id="back_to_documents" href="{% url 'editor_index_url' %}">(back to documents list)</a>
    <div class="row">
        <div id="document_form" class='col-md-11'>
            <h2 id="document_header"></h2>
            <form action="" method="">
                {% if not doc %}
                <div class="form-group row d-flex flex-row-reverse">
                  <button class="btn btn-warning" id="copy_previous">Copy Last Citation</button>
                </div>
                {% endif %}
                <div class="form-group row">
                    <label for="document_type">Document type<br />
                        <em class="small text-muted">Select the document type that most clearly describes the document you're adding</em></label>
                    <select class="form-control" id="document_type">
                    </select>
                </div>
                <div class="form-group row">
                    <label for="citation_fields">Citation information<br />
                    <em class="small text-muted">Information related to the publication of the document (e.g. the date of publication of the newspaper, not a date listed within an article)</em></label>
                    <ul  id="citation_fields">
                    </ul>
                </div>
                <div class="form-group row" hidden>
                    <label for="zotero">Zotero ID</label>
                    <input type="text" class="form-control" id="zotero" />
                </div>
                <div class="form-group row">
                    <label for="comments">Comments</label>
                    <textarea class="form-control" id="comments"></textarea>

                </div>
                <div class="form-group row">
                    <label for="acknowledgements">Acknowledgements<br />
                    <em class="small text-muted">If you've received the document from an individual or organization for the purposes of this project, please acknowledge their contribution (e.g. "Thank you to the Jennifer Shaw family")</em></label>
                    <textarea class="form-control" id="acknowledgements"></textarea>
                </div>
                <button type="submit" class="btn btn-primary" id="doc_update">Update</button>








                {% if can_delete_doc %}
                <!-- Button to Open the Modal -->
                <!-- <button type="button" class="btn btn-primary mt-3" data-toggle="modal" data-target="#myModal"> -->

                <!-- <button class="btn btn-danger del-reference"><span class="fas fa-times-circle"></span></button> -->

                <button type="button" class="btn btn-danger float-right" data-toggle="modal" data-target="#myModal">
                    <span class="fas fa-times-circle"></span> Delete Document
                </button>

                <!-- <span class="float-right">Contact</span> -->

                <!-- The Modal -->
                <div class="modal" id="myModal">
                  <div class="modal-dialog">
                    <div class="modal-content">
                      <!-- Modal Header -->
                      <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                      </div>
                      <!-- Modal body -->
                      <div class="modal-body text-center mb-5">
                        <!-- <img src="right.png" class="img-responsive"> -->
                        <h1>Confirming...</h1>
                        <p>Do you really want to delete this document?</p><p id="confirmation-line-2">This process cannot be undone.</p>
                        <div class="btn-group">
                          <button type="button" class="btn btn-secondary btn-lg mr-2 rounded-lg" data-dismiss="modal">Cancel</button>
                          <button type="button" class="btn btn-danger btn-lg rounded-lg del-document" id="confirm-delete-button">Delete</button>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                {% endif %}








            </form>
        </div>
        <div class='col-md-1'>
            <!-- <a href="{% url 'editor_index_url' %}">(back to documents list)</a> -->
        </div>
    </div>

    <hr/>

    {% if doc %}
    <h2 id="items_header">Items</h2>
        {% if doc.references|length != 0 %}
        <table class="table">
            <thead>
                <tr>
                  <th class="ref-id-col" scope="col">ID</th>
                  <th class="ref-label-col" scope="col">Item type</th>
                  <th class="ref-date-col" scope="col">Edited</th>
                  <th class="ref-ctrl-col" ></th>
                </tr>
            </thead>
            <tbody id="references_table">
            {% for item in doc.references %}
                <tr data-reference="{{ item.id }}">
                    <th scope="row">{{ item.id }}</th>
                    <td>
                        <a href="{% url 'edit_record_url' item.id %}">{{ item.reference_type_name }}</a>
                    </td>
                    {# <td>{{ item.last_edit().timestamp.strftime("%Y-%m-%d") }}</td> #}
                    <td>{{ item.last_edit }}</td>
                    <td><button class="btn btn-danger del-reference"><span class="fas fa-times-circle"></span></button>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
        {% endif %}
        <div id="new_document_button" class="d-flex flex-row-reverse">
            {# <a class="btn btn-primary" href="{% url 'edit_record_url' doc.id %}">Add an item</a> #}
            <a class="btn btn-primary" href="{% url 'edit_record_url' %}?doc_id={{doc.id}}">Add an item</a>
        </div>
    {% endif %}
<!-- </div> -->
{% endblock %}


{% block scripts%}
{{ block.super }}  {# adds-to the `editor.html` `header_other` block, instead of replacing it. #}
<script>
var getDocumentId = function () {
    {# var doc_id = "{{ doc.id or '' }}"; #}
    var doc_id = "{{ doc.id }}";
    console.log( "in getDocumentId; doc_id, ", doc_id );
    return doc_id;
}

var makeCitationFieldInput = function(fieldData) {
    var $input, $row, $label;
    $row = $('<li/>', {
        'class' : 'citation-field',
        'style' : `order: ${fieldData.rank}` });
    $input = $('<input/>', {
        'id' : fieldData.name,
        'class' : 'form-control',
        'type' : 'text',
        'placeholder': fieldData.display,
        'data-citation-field': fieldData.name });
    $input.val(fieldData.value);
    $row.append($input);

    return $row;
}

var updateCitationFields = function(citeData, citeType, ctMap) {
    var ct_fields = ctMap[citeType];
    $fg = $('#citation_fields');
    $('#citation_fields').siblings('label').show();
    $fg.empty();
    for (var i=0; i < ct_fields.length; i++) {
        var field_data = ct_fields[i];
        if (field_data.name in citeData) {
            field_data['value'] = citeData[field_data.name];
        } else {
            field_data['value'] = '';
        }
        $fg.append(makeCitationFieldInput(field_data));
    }
}

var collectCitationFieldData = function(dataObj) {
    var cite_fields = $('.citation-field');
    dataObj['fields'] = {};
    cite_fields.each( function(index) {
        $input = $(this).find('input');
        dataObj.fields[$input.attr('data-citation-field')] = $input.val();
    })
    return dataObj
}

var setInputValues = function(docData) {
    if ( $.isEmptyObject(docData) ) {
        return;
    }
    $('#citation').text(docData['citation']);
    // $('#zotero').val(docData['zotero_id']);
    $('#document_type').val(docData['citation_type_id']).attr('selected', true);
    $('#comments').text(docData['comments']);
    $('#acknowledgements').text(docData['acknowledgements']);
}

var collectInputValues = function() {
    var data = {};
    // data['zotero_id'] = $('#zotero').val();
    data['citation_type_id'] = Number($('#document_type').val());
    data['comments'] = $('#comments').val();
    data['acknowledgements'] = $('#acknowledgements').val();
    data = collectCitationFieldData(data);
    return data;
}

var addTypeOptions = function(opts) {
    var dtype_select = $('#document_type');
    dtype_select.empty();
    for (var i = 0; i < opts.length; i++) {
        var opt = opts[i];
        var opt_elem = $("<option/>", { 'value': opt.id ,
                                        'text': opt.name });
        dtype_select.append(opt_elem);
    }
    dtype_select.val(null);
}

var setFormHeader = function (docData) {
    var header = $('#document_header');
    console.log( "in setFormHeader; header, ", header );
    if ( $.isEmptyObject(docData) ) {
        header.text('Add a document');
        header.append(`<div style="font-size: 50%"><em>Fill out this form only when entering a document for the first time.
            If your document has been already entered, find your document in the
            <a href="/editor">recent document list</a> and add an item.</em></div>`);
        $('#doc_update').text('Create');
        $('#citation_fields').siblings('label').hide();
    } else {
        header.text(docData['citation']);
    }
}

var initializeForm = function (data, ctMap) {
    setFormHeader(data['doc']);
    addTypeOptions(data['doc_types']);
    setInputValues(data['doc']);
    if ( 'fields' in data['doc'] ) {
        updateCitationFields(
            data['doc']['fields'], data['doc']['citation_type_id'], ctMap);
    }
}

var readDocumentData = function(docId, ctMap, copy) {
    if (copy) {
        var doc_data_api = "{% url 'data_documents_url' 'copy' %}";
        console.log( 'in readDocumentData; doc_data_api for `copy`, ', doc_data_api );
    } else if(docId) {
        var doc_data_api = "{% url 'data_documents_url' 'STUB' %}".replace( "STUB", docId );
        console.log( 'in readDocumentData; doc_data_api with `docId`, ', doc_data_api );
    } else {
        var doc_data_api = "{% url 'data_documents_url' %}";
        console.log( 'in readDocumentData; doc_data_api with NO `docId`, ', doc_data_api );
    }
    console.log( "docId, ", docId );
    console.log( "copy, ", copy );
    $.get(doc_data_api, function(data) {
        initializeForm(data, ctMap);
    });
}

var updateDocumentData = function(docId, ctMap) {
    {# var doc_data_api = "{% url 'update_citation_data' None %}" + docId; #}
    if (docId) {
        var doc_data_api = "{% url 'data_documents_url' 'STUB' %}".replace( "STUB", docId);
        console.log( 'in updateDocumentData; doc_data_api with `docId`, ', doc_data_api );
    } else {
        var doc_data_api = "{% url 'data_documents_url' %}";
        console.log( 'in updateDocumentData; doc_data_api with NO `docId`, ', doc_data_api );
    }
    var data = collectInputValues();
    var method = (docId ? "PUT" : "POST");
    $.ajax({
        type: method,
        url: doc_data_api,
        contentType: "application/json",
        data: JSON.stringify(data),
        success: function(data) {
            if ( method === 'POST' ) {
                window.location.href = data.redirect;
            } else {
                initializeForm(data, ctMap);
                $('#document_form').accordion('option','active', false );
            }
        }
    });
}

var activateReferenceDelete = function($delBtn) {
  var $cancel_btn = $('<button/>', {
    'class': 'btn btn-secondary deactivate-delete',
    'title': 'Cancel current changes'
  });
  var $cancel_span = $('<span/>', {'class': 'fas fa-undo'});
  $cancel_btn.append($cancel_span);
  $delBtn.empty().text('Confirm delete').addClass('active');
  $delBtn.before($cancel_btn);
  return true;
}

var deactivateReferenceDelete = function($cancelBtn) {
  var $del_span = $('<span/>', {'class': 'fas fa-times-circle'});
  var $del_btn = $cancelBtn.next('.del-reference');
  $cancelBtn.remove();
  $del_btn.empty().append($del_span).removeClass('active');
  return true;
}

var deleteReference = function($refRow, ctMap) {
    var ref_del_api = "{% url 'data_reference_url' 'STUB' %}"
        .replace('STUB', $refRow.attr('data-reference'));
    console.log( 'in deleteReference; ref_del_api, ', ref_del_api );
    $.ajax({
        type: "DELETE",
        url: ref_del_api,
        success: function(data) {
          window.location.href = data.redirect;
        }
    });
}

var deleteDocument = function( doc_id ) {
    /*  This only passes the doc_id; think about passing more identifying info
        ...so the server doesn't have to do a lookup for more document info. */
    console.log( "in `var deleteDocument`; `doc_id`, ", doc_id );
    var doc_data_api_root = "{% url 'data_documents_url' %}";
    var full_doc_data_api = doc_data_api_root + doc_id + "/";
    $.ajax({
        type: "DELETE",
        url: full_doc_data_api,
        success: function(data) {
          console.log( 'in deleteDocument; data, ', data );
        }
    });
    console.log( "ajax call done" );
}

// var deleteDocument = function( doc_id ) {
//     /*  This only passes the doc_id; think about passing more identifying info
//         ...so the server doesn't have to do a lookup for more document info. */
//     console.log( "in `var deleteDocument`; `doc_id`, ", doc_id );
//     var doc_data_api_root = "{% url 'data_documents_url' %}";
//     var full_doc_data_api = doc_data_api_root + doc_id + "/";
//     $.ajax({
//         type: "DELETE",
//         url: full_doc_data_api,
//     });
//     console.log( "ajax call done" );
// }


$( document ).ready(function() {
    var doc_id = getDocumentId();
    console.log( "in document.ready(); doc_id, ", doc_id );
    //
    var cite_type_fields = JSON.parse( '{{ ct_fields_json | safe }}' );
    readDocumentData(doc_id, cite_type_fields, false);
    //
    // var documents_url = "{{ documents_url }}";
    var documents_url = "{% url 'editor_index_url' %}";
    console.log( "in document.ready(); documents_url, ", documents_url );
    //
    $( "#document_form" ).accordion({
        collapsible: true,
        header: "h2",
        heightStyle: "content",
        active: (doc_id ? false : 0)
    });
    $( "#document_date" ).datepicker({
      changeMonth: true,
      changeYear: true,
      yearRange: "1492:1900"
    });
    $( "#document_type").on('change', function(e) {
        e.preventDefault();
        var cite_type = $(this).val();
        var cite_data = collectCitationFieldData({});
        updateCitationFields(
            cite_data['fields'], cite_type, cite_type_fields);
    });
    $( "#references_table" ).on('click', '.del-reference:not(.active)', function(e) {
      e.preventDefault();
      activateReferenceDelete($(this));
    });
    $( "#references_table" ).on('click', '.deactivate-delete', function(e) {
      e.preventDefault();
      deactivateReferenceDelete($(this));
    });
    $( "#references_table" ).on('click', '.del-reference.active', function(e) {
      e.preventDefault();
      var $ref_row = $(this).closest('tr');
      deleteReference($ref_row, cite_type_fields);
    });
    $( "#doc_update" ).on('click', function(e) {
      e.preventDefault();
      updateDocumentData(doc_id, cite_type_fields);
    });
    $( "#copy_previous" ).on('click', function(e) {
      e.preventDefault();
      $(this).parent().remove();
      readDocumentData(doc_id, cite_type_fields, true);
    });



    {% if can_delete_doc %}

    $( "#confirm-delete-button" ).on('click', function(e) {
      e.preventDefault();
      deleteDocument(doc_id);
      // alert( "put deletion code here." );
      window.location.replace( documents_url );
    });

    // $( "#confirm-delete-button" ).on('click', function(e) {
    //   e.preventDefault();
    //   // updateDocumentData(doc_id, cite_type_fields);
    //   alert( "put deletion code here." );
    //   window.location.replace( documents_url );
    // });

    {% endif %}



});
</script>
{% endblock %}
