{% extends "disa_app_templates/editor.html" %}


{# in <head> #}


{% block header_other %}
{{ block.super }}  {# adds-to the `editor.html` `header_other` block, instead of replacing it. #}
<style>
    #new_document_button {
        margin-top: 5px;
    }
    .citation-titles {
        width: 50%;
    }

    table.table {
        table-layout: auto;
        width: auto;
        max-width: max-content;
    }

</style>
{% endblock %}


{# in <body> #}


{% block content %}
	<!-- <div class="container"> -->
        <div id="new_document_button" class="d-flex flex-row-reverse">
            {# <a class="btn btn-primary" href="{% url 'new_citation_url' %}" >New document</a> #}
            {# <a class="btn btn-primary" href="{% url 'edit_citation_url' 'new' %}" >New document</a> #}
            <a class="btn btn-primary" href="{% url 'edit_citation_url' %}" >New document</a>
        </div>
		<h2>Your recent documents</h2>
        {% if user_documents %}
        <table class="table">
            <thead>
                <tr>
                  <th scope="col">ID</th>
                  <th class='citation-titles' scope="col">Citation</th>
                  <th scope="col">Items</th>
                  <th scope="col">Editor</th>
                  <th scope="col">Time</th>
                </tr>
            </thead>
            <tbody>
            {% for entry in user_documents %}
                <tr>
                    <th scope="row">{{ entry.doc.id }}</th>
                    <td>
                        <a href="{% url 'edit_citation_url' entry.doc.id %}">{{ entry.doc.display }}</a>
                    </td>
                    <td>{{ entry.doc.reference_count }}</td>
                    <td>{{ entry.email }}</td>
                    <td>{{ entry.date.dt_date }}<br/>{{ entry.date.dt_time }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
        {% else%}
        <p class='text-danger'>You have not committed any changes to any documents</p>
        {% endif %}
        <h2>All documents</h2>
		<table class="table">
            <thead>
                <tr>
                  <th scope="col">ID</th>
                  <th class='citation-titles' scope="col">Citation</th>
                  <th scope="col">Items</th>
                  <th scope="col">Editor</th>
                  <th scope="col">Time</th>
                </tr>
            </thead>
            <tbody>
            {% for entry in documents %}
                <tr>
                    <th scope="row">{{ entry.doc.id }}</th>
                    <td>
                        <a href="{% url 'edit_citation_url' entry.doc.id %}">{{ entry.doc.display }}</a>
                    </td>
                    <td>{{ entry.doc.reference_count }}</td>
                    <td>{{ entry.email }}</td>
                    <td>{{ entry.date.dt_date }}<br/>{{ entry.date.dt_time }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
	<!-- </div> -->

{% endblock %}
