{% extends "disa_app_templates/base.html" %}

{% block header %}
{% comment %} <link rel="stylesheet" href="{{ url_for('static', filename='lib/bootstrap-4.1.2-dist/css/bootstrap.min.css') }}"> {% endcomment %}
<link rel="stylesheet" href="{%  url 'static' 'lib/bootstrap-4.1.2-dist/css/bootstrap.min.css' %}">
{% endblock %}
{% block content %}{% endblock %}
{% block scripts %}
<script type="text/javascript">
    {% comment %} var csrf_token = "{{ csrf_token() }}"; {% endcomment %}
    var csrf_token = "{{ csrf_token }}";

    $.ajaxSetup({
        beforeSend: function(xhr, settings) {
            if (RegExp('^(POST|PUT|PATCH|DELETE)$').test(settings.type) && !this.crossDomain) {
                xhr.setRequestHeader("X-CSRFToken", csrf_token);
            }
        }
    });
</script>
<script type="text/javascript">
    $(document).ready(function() {
        $('.steve-tags').select2({
            tags: true,
        });
        $('.steve-dropdown').select2({
            tags: true,
            width: '100%'
        });
    });
</script>
{% endblock %}
