{% extends "disa_app_templates/base.html" %}
{% load static %}
{% block header_other %}
<script src="{% static 'js/lunr.min.js' %}"></script>
{% endblock header_other %}
{% block nav_options %}
{{ logout_next }}
{% if not user.is_authenticated %}<li class="nav-item"><a class="nav-link btn btn-outline-info" href="{% url 'logout_url' %}?next={{ logout_next }}">Logout</a>
</li>
{% endif %}
{% endblock nav_options %}
{% block content %}
<!-- language warning modal, appears immediately on load if not previously acknowledged -->
{% include "disa_app_templates/modals/warn_language.html" %}
<!-- "Loading ..." modal -->
{% include "disa_app_templates/modals/loading.html" %}
<!-- Main content container: search and results -->
<section id="main-content">
    <div class="row">
       {% include "disa_app_templates/partials/explore_top.html" %}
    </div>
    <div class="researcher-choices row">
        <div>
            <label for="general-search">
                Search in any field for
                <input type="text" id="general-search" placeholder="names, tribes, locations, and more"></input>
            </label>
        </div>
        <div class="d-flex">
            <p class="col-1"><strong>Filter</strong></p>Placeholder for filters/facets.
        </div>
        <div class="d-flex align-items-center">
            <p class="col-1"><strong>Sort</strong></p>
            <p class="col-9">Showing n of y results as a <input type="radio" class="btn-check" name="display-options" id="grid" autocomplete="off" checked>
                <label class="btn btn-primary" for="grid">grid</label>
                <input type="radio" class="btn-check" name="display-options" id="table" autocomplete="off">
                <label class="btn btn-outline-primary" for="table">table</label></p>
            <p class="col-2">
                <button class="btn btn-info" id="download-data" title="Download the results as a CSV file">
                    Download results
                </button>
            </p>
        </div>
        <div class="d-flex align-items-center">
            <p class="col-1"><strong>View</strong></p><span class="btn btn-primary">All</span>
            <span class="btn btn-outline-primary mx-1">Unfree</span>
            <span class="btn btn-outline-primary mx-1">Free</span>
        </div>
    </div>
    <div class="results row">
        {% for rfrnt in people %}
        <div class="card">
            <h2><a href="{{ rfrnt.db_id }}">{{ rfrnt.calc_name }}</a></h2>
            <ul>
                <li class="status status-$status">$status</li>
                <li>$age</li>
                <li>$race $tribe</li>
                <li>$location</li>
                <li>$relationships</li>
            </ul>
            <div><i class="fa-solid fa-file-lines"></i> 1 source<i class="fa-solid fa-globe-americas"></i> <i class="fa-solid fa-timeline"></i></div>
        </div>
        {% endfor %}
    </div>
</section>
{% endblock content %}

{% block page_specific_js%}
<!-- Main setup routine -->
<!-- trigger warningModal onload -->
<script>
// if a user has not previously acknowledged the warning modal, show it
if (localStorage.getItem("warning") != "acknowledged") {
    const warningModal = new bootstrap.Modal('#warningModal').show();
}
// when a user closes the warning modal, note that in localStorage
warningModal.addEventListener('hidden.bs.modal', event => {
    localStorage.setItem("warning", "acknowledged");
})

</script>
{% endblock page_specific_js %}
