{% extends "disa_app_templates/base.html" %}
{% load static %}
{% block content %}
{% if flag_maintenance %}
<article class="flag_maintenance alert alert-danger my-3">
    <h1>We'll be back soon!</h1>
    <div>
        <p>The Stolen Relations database is down for maintenance. Login is currently disabled. In the meantime, check out the <a href="https://indigenousslavery.org/">blog</a>.</p>
    </div>
</article>
{% else %}
<h1>Welcome to editing Stolen Relations!</h1>
<div class="row">
    <form id="shib_form" action="{{ login_then_citations_url }}" method="GET" class="col">
        <h2>Login via Brown-Shibboleth...</h3>
            <input class="btn btn-primary" id="shib" type="submit" value="Brown Shibboleth Login" name="type">
    </form>
    <form class="col" id="non_shib_form" action={{ user_pass_handler_url }} method="POST">{% csrf_token %}
        <h2>...or with your username and password</h2>
        <div class="mb-3">
            <label for="username_field_input" class="form-label">Username:</label>
            <input id="username_field_input" type="text" name="manual_login_username" value="{{ manual_login_username }}"></div>
        <div class="mb-3">
            <label for="password_field_label" class="form-label">Password:</label>
            <input id="password_field_input" type="password" name="manual_login_password" value="{{ manual_login_password }}">
        </div>
        <button id="manual_login_button" type="submit" value="Log in" class="btn btn-primary">Log in</button>
        {% if manual_login_error %}
        <div class="alert alert-danger">
            <p><i class="fa-solid fa-circle-exclamation"></i> Based on the information you've provided, it appears you're not authorized to edit this database. Please double-check the username and password you've entered.</p>
            <p>If you believe you should be able to login to this system, please contact {{ LOGIN_PROBLEM_EMAIL|urlize }} for help.</p>
        </div>
        {% endif %}
    </form>
</div>
{% endif %}
{% endblock %}
{% block scripts %}
{% endblock %}
