{% extends "disa_app_templates/base.html" %}
{% load staticfiles %}


{# in <head> #}


{% block header_other %}
<!-- <link rel="stylesheet" href="{%  static 'lib/bootstrap-4.1.2-dist/css/bootstrap.min.css' %}"> -->
{% endblock %}


{# in <body> #}


{% block content %}

<div>

    <form action="{{ login_then_citations_url }}" method="GET">
        <h3 id="please_shib">Login via Brown-Shibboleth...</h3>
        <div id="shib">
            <input id="shib" type="submit" value="Brown Shibboleth Login" name="type">
        </div>
    </form>

    <hr/>

    <form id="barcode_login" action={{ user_pass_handler_url }} method="POST">{% csrf_token %}
        <h3 id="please_barcode">...or with your username and password</h3>
        <p id="name_field_label">username:</p>
        <input id="name_field_input" type="text" name="barcode_login_name" value="{{ barcode_login_name }}">
        <p id="barcode_field_label">password):</p>
        <input id="barcode_field_input" type="text" name="barcode_login_barcode" value="{{ barcode_login_barcode }}">
        {% if barcode_login_error %}
        <p class="login_error">Problem: based on your login, it appears you're not authorized to use this requesting service.</p>
        <p class="login_error">If you believe you should be able to request this item, please contact Library staff for assistance, either at {{ PHONE_AUTH_HELP }}, or at {{ EMAIL_AUTH_HELP|urlize }}.</p>
        {% endif %}
        <br /><input id="barcode_login_button" type="submit" value="Log in">
    </form>


</div>

{% endblock %}


{% block scripts %}
{% endblock %}
