{% extends "disa_app_templates/base.html" %}
{% load static %}
{% block header_other %}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/leaflet/1.9.4/leaflet.min.css" integrity="sha512-h9FcoyWjHcOcmEVkxOfTLnmZFWIH0iZhZT1H2TbOq55xssQGEJHEaIm+PgoUaZbRvQTNTluNOEfb1ZRy6D3BOw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
<link rel="stylesheet" href="https://unpkg.com/leaflet.markercluster@1.4.1/dist/MarkerCluster.css" crossorigin="" />
<link rel="stylesheet" href="https://unpkg.com/leaflet.markercluster@1.4.1/dist/MarkerCluster.Default.css" crossorigin="" />
{% endblock header_other %}
{% block content %}
<div id="map-container" style="height:80vh"></div>
{% endblock content %}
{% block page_specific_js %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/leaflet/1.9.4/leaflet.js" integrity="sha512-BwHfrr4c9kmRkLw6iXFdzcdWV/PGkVgiIyIWLLlTSXzWQzxuSg4DiQUCpauz/EWjgk5TYQqX/kvn9pG1NpYfqg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script type="text/javascript" src="https://cdn.jsdelivr.net/gh/leaflet-extras/leaflet-providers/leaflet-providers.js"></script>
<script type="text/javascript" src="https://unpkg.com/leaflet.markercluster@1.4.1/dist/leaflet.markercluster.js"></script>
<script type="text/javascript" src="https://cdn.jsdelivr.net/gh/calvinmetcalf/leaflet-ajax@2/dist/leaflet.ajax.js"></script>
<script>
//establish the map
var map = L.map('map-container', {
    center: [41, -71],
    zoom: 5,
    //maxZoom: 19
});

//the various basemaps
const basemaps = {
    Terrain: L.tileLayer('https://stamen-tiles-{s}.a.ssl.fastly.net/terrain/{z}/{x}/{y}{r}.{ext}', {
        attribution: 'Map tiles by <a href="http://stamen.com">Stamen Design</a>, <a href="http://creativecommons.org/licenses/by/3.0">CC BY 3.0</a> &mdash; Map data &copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors',
        subdomains: 'abcd',
        minZoom: 1,
        //maxNativeZoom: 19,
        maxZoom: 8,
        ext: 'png'
    }),
    Textfree: L.tileLayer('https://stamen-tiles-{s}.a.ssl.fastly.net/terrain-background/{z}/{x}/{y}{r}.{ext}', {
        attribution: 'Map tiles by <a href="http://stamen.com">Stamen Design</a>, <a href="http://creativecommons.org/licenses/by/3.0">CC BY 3.0</a> &mdash; Map data &copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors',
        subdomains: 'abcd',
        minZoom: 1,
        //maxNativeZoom: 19,
        maxZoom: 8,
        ext: 'png'
    }),
    Labels: L.tileLayer('https://stamen-tiles-{s}.a.ssl.fastly.net/toner-lite/{z}/{x}/{y}{r}.{ext}', {
        attribution: 'Map tiles by <a href="http://stamen.com">Stamen Design</a>, <a href="http://creativecommons.org/licenses/by/3.0">CC BY 3.0</a> &mdash; Map data &copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors',
        subdomains: 'abcd',
        //maxNativeZoom: 19,
        maxZoom: 12,
        ext: 'png'
    }),
    Watercolor: L.tileLayer('https://stamen-tiles-{s}.a.ssl.fastly.net/watercolor/{z}/{x}/{y}.{ext}', {
        attribution: 'Map tiles by <a href="http://stamen.com">Stamen Design</a>, <a href="http://creativecommons.org/licenses/by/3.0">CC BY 3.0</a> &mdash; Map data &copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors',
        subdomains: 'abcd',
        minZoom: 1,
        //maxNativeZoom: 19,
        maxZoom: 13,
        ext: 'jpg'
    })
};
L.control.layers(basemaps, null, {collapsed:false}).addTo(map);
basemaps.Terrain.addTo(map);

// fetch the geojson
var geoJsonData = new L.GeoJSON.AJAX(
    "/static/data/mock_geojson.geojson", {

      // build each point
        onEachFeature: function(feature, layer) {

            var uuid = feature.properties.referent_id;
            var name = feature.properties.name;
            //var status = feature.properties.Status;
            var date = feature.properties.year;
            var lat = feature.properties.lat;
            var lng = feature.properties.lng;
            var location = feature.properties.location.toString();
            if (name != null) {
                var popupText = '<a href="/people/' + uuid + '">' + name + '</a><br />' + location + '<br />' + date ;
            } else {
                var popupText = '<a href="/people/' + uuid + '">A person whose name we do not know</a><br />' + location + '<br/>' + date;
            };

            layer.bindPopup(popupText);
        }

    });

// cluster points
var markers = L.markerClusterGroup({
    chunkedLoading: true,
    maxClusterRadius: 30,
});
//geojson ajax listener
geoJsonData.on('data:loaded', function() {
    // Add the cluster data after the geojson layer has loaded.
    markers.addLayer(geoJsonData);
    map.addLayer(markers);
});
// IDK why this only shows on the *second* click
markers.on('clusterclick', function(a) {
    var clusterCount = a.layer.getChildCount();
    var clusterChildren = a.layer.getAllChildMarkers();
    var clusterLocation = [];

    for (i = 0; i < clusterCount; i++) {
        clusterLocation.push(clusterChildren[i].feature.properties.location);
        var clusterName = clusterLocation.shift();
    };

    var clusterPopup = clusterName + '<br />' + clusterCount + ' people are in the database.';
    a.layer.bindPopup(clusterPopup);
});

</script>
{% endblock page_specific_js %}
