{% extends "disa_app_templates/base.html" %}
{% load static %}
{% block header_other %}
<link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css" integrity="sha256-p4NxAoJBhIIN+hmNHrzRCf9tD/miZyoHS5obTRR9BMY=" crossorigin="" />
<script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js" integrity="sha256-20nQCchB9co0qIjJZRGuk2/Z9VM+kNiyxNV1lvTlZBo=" crossorigin=""></script>
<script type="text/javascript" src="https://cdn.jsdelivr.net/gh/leaflet-extras/leaflet-providers/leaflet-providers.js"></script>
<script type="text/javascript" src="https://unpkg.com/leaflet.markercluster@1.4.1/dist/leaflet.markercluster.js"></script>
<link rel="stylesheet" href="https://unpkg.com/leaflet.markercluster@1.4.1/dist/MarkerCluster.css" crossorigin="" />
<link rel="stylesheet" href="https://unpkg.com/leaflet.markercluster@1.4.1/dist/MarkerCluster.Default.css" crossorigin="" />
{% endblock header_other %}
{% block content %}
<div id="map-container" style="height:80vh"></div>
{% endblock content %}
{% block footer %}
{% endblock footer %}
{% block page_specific_js %}
<script>
  //establish the map
var map = L.map('map-container').setView([41, -71], 5);

//the various basemaps
const basemaps = {
    Terrain: L.tileLayer('https://stamen-tiles-{s}.a.ssl.fastly.net/terrain-background/{z}/{x}/{y}{r}.{ext}', {
        attribution: 'Map tiles by <a href="http://stamen.com">Stamen Design</a>, <a href="http://creativecommons.org/licenses/by/3.0">CC BY 3.0</a> &mdash; Map data &copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors',
        subdomains: 'abcd',
        minZoom: 0,
        maxZoom: 18,
        ext: 'png'
    }),
    Labels: L.tileLayer('https://stamen-tiles-{s}.a.ssl.fastly.net/toner-lite/{z}/{x}/{y}{r}.{ext}', {
        attribution: 'Map tiles by <a href="http://stamen.com">Stamen Design</a>, <a href="http://creativecommons.org/licenses/by/3.0">CC BY 3.0</a> &mdash; Map data &copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors',
        subdomains: 'abcd',
        minZoom: 0,
        maxZoom: 20,
        ext: 'png'
    }),
    Watercolor: L.tileLayer('https://stamen-tiles-{s}.a.ssl.fastly.net/watercolor/{z}/{x}/{y}.{ext}', {
        attribution: 'Map tiles by <a href="http://stamen.com">Stamen Design</a>, <a href="http://creativecommons.org/licenses/by/3.0">CC BY 3.0</a> &mdash; Map data &copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors',
        subdomains: 'abcd',
        minZoom: 1,
        maxZoom: 16,
        ext: 'jpg'
    })
};
L.control.layers(basemaps).addTo(map);
basemaps.Terrain.addTo(map);

var mapData = [];

// currently-not-working "get the json from an external file"
fetch('/static/data/mapData.json')
      .then((response) => {
        if (!response.ok) {
          throw new Error(`HTTP error, status = ${response.status}`);
        }
        return response.json();
      })
    .then((data) => {
            mapData.push(data);
        });

    console.log(mapData);

async function populate() {
    const requestURL =
        "/static/data/mapData.json";
    const request = new Request(requestURL);

    const response = await fetch(request);
    const sr_data = await response.json();

    mapData.push(sr_data);
    console.log(mapData);
}
populate();

var jsonFeatures = [];

// turn json into geoJSON
mapData.forEach(function(point) {
    var lat = point.latitude;
    var lon = point.longitude;
    var label = point.first_name + " " + point.last_name;

    var feature = {
        type: 'Feature',
        properties: point,
        label: label,
        geometry: {
            type: 'Point',
            coordinates: [lon, lat]
        }
    };

    jsonFeatures.push(feature);
});

var geoJsonData = { type: 'FeatureCollection', features: jsonFeatures };

//For individual points, one per person
/*var geojsonMarkerOptions = {
    radius: 10,
    fillColor: "rgb(255,0,195)",
    color: "#fff",
    weight: 2,
    opacity: 1,
    fillOpacity: 1
};

L.geoJson(geoJsonData, {
    pointToLayer: function(feature, latlng) {
        var popupOptions = { maxWidth: 200 };
        var popupContent = feature.properties.first_name + ' ' + feature.properties.last_name + ', ' + feature.properties.category + ' ' + feature.properties.gender;
        return L.circleMarker(latlng, geojsonMarkerOptions).bindPopup(popupContent, popupOptions);
    }
}).addTo(map);
*/
// for clustered points
var markers = L.markerClusterGroup({ chunkedLoading: true });

var geoJsonLayer = L.geoJson(geoJsonData, {
  onEachFeature: function (feature, layer) {
    layer.bindPopup(feature.label);
  }
});
markers.addLayer(geoJsonLayer);
map.addLayer(markers);
</script>
{% endblock page_specific_js %}
