{% extends "disa_app_templates/base.html" %}
{% load static %}

{% block content %}
<p>We'll list the tribal nations who have agreed to partners with us on the projects, and link their sites.</p>
<p>It is important to understand that these Indigenous nations are still here, in New England and all across the Americas, and have vibrant communities, cultural traditions, and oral histories regarding settler colonialism, displacement, indigenous enslavement, and ongoing survival into the present.</p>
{% endblock content %}
