{% extends "disa_app_templates/base.html" %}
{% load staticfiles %}
{# in <head> #}
    {% block header_other %}
    {% endblock header_other %}
{# in <body> #}
    {% block content %}
    <h1>Comprehensive List of People</h1>
        <table class="table table-striped">
            <thead class="sticky-top table-light">
                <tr>
                    <th class="tbl_id">ID</th>
                    <th class="tbl_name">Name</th>
                    <th class="tbl_fixed">Age</th>
                    <th class="tbl_fixed">Sex</th>
                    <th class="tbl_fixed">Race</th>
                    <th class="tbl_fixed">Status</th>
                    <th class="tbl_view"></th>
                </tr>
            </thead>
            <tbody id="people">
                {% for rfrnt in people %}
                <tr>
                    {# <td>{{ rfrnt.db_id }}</td> #}
                    <td>{{ rfrnt.person_id }}</td>
                    {% if rfrnt.calc_name == "Not Listed" %}
                    <td><mark><i class="fa-solid fa-file-circle-question"></i> {{ rfrnt.calc_name|lower }}</mark></td>
                    {% else %}
                    <td>{{ rfrnt.calc_name }}</td>
                    {% endif %}
                    {% if rfrnt.calc_age == "Not Listed" %}
                    <td><mark><i class="fa-solid fa-file-circle-question"></i> {{ rfrnt.calc_age|lower }}</mark></td>
                    {% else %}
                    <td>{{ rfrnt.calc_age }}</td>
                    {% endif %}
                    {% if rfrnt.calc_sex == "Not Listed" %}
                    <td><mark><i class="fa-solid fa-file-circle-question"></i> {{ rfrnt.calc_sex|lower }}</mark></td>
                    {% else %}
                    <td>{{ rfrnt.calc_sex }}</td>
                    {% endif %}
                    {% if rfrnt.calc_race == "Not Listed" %}
                    <td><mark><i class="fa-solid fa-file-circle-question"></i> {{ rfrnt.calc_race|lower }}</mark></td>
                    {% else %}
                    <td>{{ rfrnt.calc_race }}</td>
                    {% endif %}
                    {% if rfrnt.calc_status == "Not Listed" %}
                    <td><mark><i class="fa-solid fa-file-circle-question"></i> not listed</mark></td>
                    {% else %}
                    <td>{{ rfrnt.calc_status }}</td>
                    {% endif %}
                    <td><a class="btn btn-primary" href="{% url 'person_url' rfrnt.person_id  %}">View</a></td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    {% endblock content %}
