{% extends "base.html" %}
{% load static %}
{% block header_other %}
<!--
    for when we have lat/lon info available
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/leaflet/1.9.4/leaflet.min.css" integrity="sha512-h9FcoyWjHcOcmEVkxOfTLnmZFWIH0iZhZT1H2TbOq55xssQGEJHEaIm+PgoUaZbRvQTNTluNOEfb1ZRy6D3BOw==" crossorigin="anonymous" referrerpolicy="no-referrer" />-->
{% endblock header_other %}
{% block content %}
<div>
    <h1 id="list_heading">{{ name }}</h2>
        <p class="badge rounded-pill bg-secondary text-light disa-id-badge float-end">ID: {{ dbId }}</p>
        <hr />
</div>
<div class="row">
    <div class="card col-md-4">
        <div class="card-body row">
            <div class="col-md-6">
                <dl>
                    <dt>Origin</dt>
                    <dd>
                        {% if origins == "Not Listed" %}
                        <mark><i class="fa-solid fa-file-circle-question"></i> {{ origins }}<mark>
                                {% else %}
                                {{ origins }}
                                {% endif %}
                    </dd>
                    <dt>Tribe</dt>
                    <dd>
                        {% if tribes == "Not Listed" %}
                        <mark><i class="fa-solid fa-file-circle-question"></i> {{ tribes }})</mark>
                        {% else %}
                        {{ tribes }}
                        {% endif %}
                    </dd>
                    <dt>Race</dt>
                    <dd>
                        {% if races == "Not Listed" %}
                        <mark><i class="fa-solid fa-file-circle-question"></i> {{ races }})</mark>
                        {% else %}
                        {{ races }}
                        {% endif %}
                    </dd>
                </dl>
            </div>
            <div class="col-md-6">
                <dl>
                    <dt>Status</dt>
                    <dd>
                        {% if statuses == "Not Listed" %}
                        <mark><i class="fa-solid fa-file-circle-question"></i> {{ statuses }}</mark>
                        {% else %}
                        {{ statuses }}
                        {% endif %}
                    </dd>
                    <dt>Title</dt>
                    <dd>
                        {% if titles == "Not Listed" %}
                        <mark><i class="fa-solid fa-file-circle-question"></i> {{ titles }})</mark>
                        {% else %}
                        {{ titles }}
                        {% endif %}
                    </dd>
                    <dt>Occupation</dt>
                    <dd>
                        {% if vocations == "Not Listed" %}
                        <mark><i class="fa-solid fa-file-circle-question"></i> {{ vocations }}</mark>
                        {% else %}
                        {{ vocations }}
                        {% endif %}
                    </dd>
                </dl>
            </div>
        </div>
    </div>
    <div class="col-md-3">
        <table class="table caption-top table-striped relations">
            <caption>Relations</caption>
            <tbody id="refs">
                {% for rel in relations %}
                <tr>
                    <td>{{ rel.type }}</td>
                    <td>
                        <ul class="list-unstyled relations">
                            {% for person in rel.related %}
                            <li>
                                {% comment %}<a href="{{ url_for('get_person', persId=person.id) }}">{{ person.name }}</a>{% endcomment %}
                                <i class="fa-solid fa-person"></i> <a href="{% url 'person_url' person.id  %}">{{ person.name }}</a>
                            </li>
                            {% endfor%}
                        </ul>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    <div class="col-md-5">
        <table class="table caption-top table-striped events">
            <caption>Timeline</caption>
            <tbody id="refs">
                {% for ref in refs %} {# Note: `refs` here is person.references #}
                <tr>
                    {% comment %}<td>{{ ref.reference.display_date() }}</td>{% endcomment %}
                    <td><i class="fa-solid fa-calendar"></i> {{ ref.rfrnc_display_date }}</td>
                    <td>
                        {% comment %}
                        {% for role in ref.roles %}
                        <span>{{ role.name }}</span>
                        {% endfor %}
                        {% endcomment %}
                        {% for role in ref.rfnrt_role_names %}
                        {{ role }}
                        {% endfor %}
                    </td>
                    <td>
                        {% comment %}{% for loc in ref.reference.locations | reverse %}{% endcomment %}
                        <i class="fa-solid fa-earth-americas"></i> {% for loc in ref.rfrnc_location_names %}
                        {{ loc }}
                        {% endfor %}
                    </td>
                    <td>
                        {% comment %}<a href="{% url 'source_url' ref.rfrnc_id  %}">View source</a>{% endcomment %}
                        <a href="{{ ref.source_and_item_url }}">View source</a>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% comment %}
<div class="row">
    To link to the map page with the correct coordinates, see https://stackoverflow.com/a/44767237. Obviously we can't do this until lat/lon is available to this page.
    <div class="map-container" style="height:45.125rem"></div>
    }
</div>
{% endcomment %}
{% endblock content %}
{% block page_specific_js %}
<!-- not needed until lat/lon info is available
<script src="https://cdnjs.cloudflare.com/ajax/libs/leaflet/1.9.4/leaflet.js" integrity="sha512-BwHfrr4c9kmRkLw6iXFdzcdWV/PGkVgiIyIWLLlTSXzWQzxuSg4DiQUCpauz/EWjgk5TYQqX/kvn9pG1NpYfqg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script type="text/javascript" src="https://cdn.jsdelivr.net/gh/leaflet-extras/leaflet-providers/leaflet-providers.js"></script>
<script type="text/javascript" src="https://cdn.jsdelivr.net/gh/calvinmetcalf/leaflet-ajax@2/dist/leaflet.ajax.js"></script>
<script src="{% static 'js/map-person.js' %}"></script>-->
{% endblock page_specific_js %}
