{% extends "disa_app_templates/editor.html" %}
{% load staticfiles %}


{# in <head> #}


{% block header_other %}
{{ block.super }}  {# adds-to the `editor.html` `header_other` block, instead of replacing it. #}

<style>
.relationship-row:hover {
  background-color: #ffff99;
}

.rel-row-1 {
  background-color: lightgray;
}

.repeated {
  visibility: hidden;
}

.repeated.show-repeated {
  visibility: visible;
}

h2#rec_header{
    margin-top: .5em;
    margin-bottom: .5em;
}

span.small_explanation {
    font-size: 12px;
    font-weight: 300;
    font-style: italic;
}

a#to_record_link {
    float: right;
    margin-top: -2.5em;
}

tfoot.rel-adder {
  border-top: 3px solid gray;
}

</style>

<!--
{% comment %}
<script src="{{ url_for('static', filename='js/editor/editor.source.js') }}"></script>
<script src="{{ url_for('static', filename='js/editor/editor.relationships.adder.js') }}"></script>
<script src="{{ url_for('static', filename='js/editor/editor.relationships.store.js') }}"></script>
<script src="{{ url_for('static', filename='js/editor/editor.relationships.mgmt.js') }}"></script>
{% endcomment %}
-->

<script src="{% static 'js/editor/editor.source.js' %}"></script>
<script src="{% static 'js/editor/editor.relationships.adder.js' %}"></script>
<script src="{% static 'js/editor/editor.relationships.store.js' %}"></script>
<script src="{% static 'js/editor/editor.relationships.mgmt.js' %}"></script>

<!-- <script src="{% static 'lib/jquery/jquery-3.3.1.min.js' %}"></script> -->

{% endblock %}


{# in <body> #}


{% block content %}
<!-- <div class="container"> -->
  <div class="row">
    <div class='col-md-11'>
      <h2 id="rec_header">Relationships <span class="small_explanation">(for item/record id: "{{rfrnc.id}}")</span></h2>
      <a id="to_record_link" href="{% url 'edit_record_w_recid_url' rfrnc.id %}">(to item-record)</a>
    </div>

  </div>
  <table id="rel-mgmt" class="table">
    <tbody class="rel-store">
    </tbody>
    <tfoot class="rel-adder">
    </tfoot>
  </table>
<!-- </div> -->
{% endblock %}

{% block scripts%}
{{ block.super }}  {# adds-to the `editor.html` `header_other` block, instead of replacing it. #}
<script>
  $( function() {
    var source = new DISASource("");
    var mgmt = new RelationshipMgmt({{ rfrnc.id }}, source, $('#rel-mgmt'));
    source.registerApp('rel-mgmt', mgmt);
    mgmt.load();
  } );
</script>
{% endblock %}
