{% extends "disa_app_templates/redesign_base.html" %}

<!-- the content below is within the redesign_base.html template's `<main class="container">` element -->

{% block content %}

<div id="startpanel">
    <h1 class="text-secondary">Choose a source document:</h1>
    <br>
    <br>
    <h3>Starting with a new document?</h3>
    <button type="button" class="btn btn-primary btn-lg" style="font-weight: bold;">ADD DOCUMENT</button>
    <br>
    <br>
    <br>
    <h3>Returning to a previously added document?</h3>
    <br>

    {% if user_documents %}
    <h5 class="text-primary col-lg-5 col-sm-11" style="letter-spacing: .5px; padding: 0;">YOUR RECENT</h5>
    <table class="table table-striped col-lg-5 col-sm-11" style="background-color: white;">
        <thead style="background-color: #eeeeee;">
            <tr>
                <th>ID</th>
                <th>Document Title</th>
                <th></th>
                <!--<th>X</th>-->
            </tr>
        </thead>
        <tbody>
            {% for entry in user_documents %}
            <tr>
                <!-- <td>{{ entry.doc.id }}</td> -->
                <td><a href="{% url 'edit_citation_url' entry.doc.id %}">{{ entry.doc.id }}</a></td>
                <td class="table-info">{{ entry.doc.display }}</td>
                <td style="background-color: #eeeeee;">
                    <button type="button" class="close text-primary" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <br>
    {% endif %}

    <h5 class="text-primary col-lg-5 col-sm-11" style="letter-spacing: .5px; padding: 0;">ALL RECENT <a href="#" style="float: right;">Show details ></a></h5>
    <table class="table table-striped col-lg-5 col-sm-11" style="background-color: white;">
        <thead style="background-color: #eeeeee;">
            <tr>
                <th>ID</th>
                <th>Document Title</th>
                <!--<th>X</th>
                 <th>X</th>-->
            </tr>
        </thead>
        <tbody>
            {% for entry in documents %}
            <tr>
                <!-- <td>{{ entry.doc.id }}</td> -->
                <td><a href="{% url 'edit_citation_url' entry.doc.id %}">{{ entry.doc.id }}</a></td>
                <td class="table-info">{{ entry.doc.display }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div> <!-- /#startpanel -->

{% endblock content %}
