{% extends "disa_app_templates/redesign_base.html" %}


<!-- The sidebar-block html below is within the redesign_base.html template's `<div class="wrapper" style="margin-top: 3.5em;">` element. -->

{% block sidebar %}

<div id="sidebar" style="padding-top: 2.5em;">
    <div class="sidebar-header">
        <div style="margin-right: -1.25em!important;">
            <div style="float: right;margin-top: -1.33em;">
                <button type="button" id="sidebarCollapse" class="btn btn-info">
                    <span style="font-weight: bold;">Toggle&nbsp;<br></span>
                    <i class="fas fa-info-circle fa-3x"></i>
                </button>
            </div>
        </div>
        <h3><strong>Welcome to Stolen Relations</strong></h3>
        <p style="font-weight: bold;">This project, housed at Brown University, is a collaborative effort to build a database record of enslaved indigenous people throughout time, all across the Americas. Thank you for contributing to this project.</p>
        <p style="font-weight: bold;">Here's how to start adding information.</p>
        <p><i class="fas fa-arrow-right fa-lg" style="opacity: .55;"></i> CLICK <span class="sidebar-info-highlight">Add new source</span> if you are entering people from a document that has not previously been added.</p>
        <p><i class="fas fa-arrow-right fa-lg" style="opacity: .55;"></i> SEARCH under <span class="sidebar-info-highlight">Your recent</span> or <span class="action-highlight">All recent</span> if you are opening a document that you or someone else previously created.</p>
        <p><i class="fas fa-arrow-right fa-lg" style="opacity: .55;"></i> The documents listed under <span class="sidebar-info-highlight">Your recent</span> offer the last fifteen documents you worked on.</p>
        <p><i class="fas fa-arrow-right fa-lg" style="opacity: .55;"></i> The documents under <span class="sidebar-info-highlight">All recent</span> list the documents that anyone entering information into DISA have created.</p>
        <p><i class="fas fa-arrow-right fa-lg" style="opacity: .55;"></i> CLICK <span class="sidebar-info-highlight">Show details</span> to see a timestamp and the username of the person who last edited each document.</p>
    </div>
</div> <!-- /#sidebar -->

{% endblock sidebar %}


<!-- The content-block html below is within the redesign_base.html template's `<main class="container">` element. -->

{% block content %}

<style>

.source-title-cell {
  width: 200px;
}

.source-title-cell a {
  display: block;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

</style>

<!-- Delete confirmation modal -->

<div class="modal" tabindex="-1" id="delete-source-modal">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title">
          Are you sure you want to delete this source?
        </h1>
        <!--
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        -->
      </div>
      <div class="modal-body">
        <button type="button" class="btn" data-bs-dismiss="modal">No! Don't delete</button>
        <a class="btn btn-danger btn-ok" data-delete-url="#" 
           id="delete-source-confirm"
           data-bs-dismiss="modal">Yes, delete!</a>
      </div>
    </div>
  </div>
</div>

<!-- Main panel -->

<div id="startpanel" style="padding-top: 2.5em;">

    <h1 class="text-secondary">Choose a source</h1>

    <!-- Add new source -->

    <h2>Starting with a new source?</h2>

    <button type="button" class="btn btn-primary btn-md" id="createNewSourceButton"
            style="font-weight: bold">
      Add new source
    </button>

    <h2 class="mt-4">Returning to a previously added source?</h2>

    {% if user_documents %}

    <h3>
      Your recent sources
    </h3>

    <table class="table table-hover">
      <tbody>
        {% for entry in user_documents %}
          <tr>
            <td>
              <a href="{% url 'redesign_citation_url' entry.doc.id %}">
                {{ entry.doc.display }}
              </a>
            </td>
            <td>
              <button type="button" class="btn btn-link btn-sm delete-source"
                data-delete-url="{{ API_URL_ROOT }}documents/{{ entry.doc.id }}"
                data-bs-toggle="modal" data-bs-target="#delete-source-modal">
                &times;&nbsp;delete
              </button>
            </td>
            <td>
              <span title="Unique identifier for this source is {{ entry.doc.id }}" 
                    class="badge rounded-pill bg-secondary text-light disa-id-badge float-end">
                ID:{{ entry.doc.id }}
              </span>
            </td>
          </tr>
        {% endfor %}
      </tbody>
    </table>

    <h3>
      All recent sources
    </h3>

    {% endif %}

    <!-- HIDE UNTIL IMPLEMENTED
        <a href="#" style="float: right;">Show details ></a>
    -->

    <table class="table table-hover">
      <tbody>
        {% for entry in documents %}
        <tr>
          <td class="source-title-cell">
            <a href="{% url 'redesign_citation_url' entry.doc.id %}">
              {{ entry.doc.display }}
            </a>
          </td>
          <td>
            <button type="button" class="btn btn-link btn-sm delete-source"
                    data-delete-url="{{ API_URL_ROOT }}documents/{{ entry.doc.id }}"
                    data-bs-toggle="modal" data-bs-target="#delete-source-modal">
              &times;&nbsp;delete
            </button>
          </td>
          <td>
            <span title="Unique identifier for this source is {{ entry.doc.id }}" 
                  class="badge rounded-pill bg-secondary text-light disa-id-badge float-end">
              ID:{{ entry.doc.id }}
            </span>
          </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
</div> <!-- /#startpanel -->

{% endblock content %}


{% block page_specific_js %}
<script>

  // Create a new Source on server

  async function createNewSource() {

    const url = "{{ API_URL_ROOT }}documents/",
          TOKEN = '{{ csrf_token }}',
          requestBody = {
            'acknowledgements': '',
            'citation_type_id': 20,  // means the fields below will be 'Book' fields
            'comments': '',
            'fields': {
              'ISBN': '',
              'abstractNote': '',
              'accessDate': '',
              'archive': '',
              'archiveLocation': '',
              'author': '',
              'callNumber': '',
              'date': '',
              'edition': '',
              'extra': '',
              'language': '',
              'libraryCatalog': '',
              'numPages': '',
              'numberOfVolumes': '',
              'pages': '',
              'place': '',
              'publisher': '',
              'rights': '',
              'series': '',
              'seriesNumber': '',
              'shortTitle': '',
              'title': '',
              'url': '',
              'volume': ''
            }
          },
          fetchOptions = {
            method: 'POST',
            headers: {
              'Content-Type': 'application/json',
              'X-CSRFToken': TOKEN
            },
            body: JSON.stringify(requestBody)
          };
    
    const response = await fetch(url, fetchOptions);

    if (response.ok) {

      const dataJSON = await response.json(),
            sourceIdMatch = dataJSON.redirect.match('/editor/documents/([^/]+)/');

      if (sourceIdMatch && sourceIdMatch[1]) {
        window.location.href = `${sourceIdMatch[1]}/`;
      } else {
        console.error(`Can't create new source: redirect URL format error`, dataJSON);
      }
    } else {
      console.error("Error on server creating new Source", { fetchOptions, response });
    }
  }

  async function deleteSource({target}) {

    const deleteSourceConfirmButton = target;

    console.log('DELETE SOURCE ' + deleteSourceConfirmButton.dataset.deleteUrl);

    const url = deleteSourceConfirmButton.dataset.deleteUrl,
          TOKEN = '{{ csrf_token }}',
          fetchOptions = {
            method: 'DELETE',
            headers: {
              'Content-Type': 'application/json',
              'X-CSRFToken': TOKEN
            }
          };
    
    console.log('DELETING SOURCE', {
      url, fetchOptions
    });

    const response = await fetch(url, fetchOptions);

    if (response.ok) {
      console.log(response);
      location.reload();
    } else {
      console.log('FAILED', response);
      // What?? Error handling
    }
  }

  // Main: set up handlers for sidebar documentation and "New Source" button

  window.addEventListener('DOMContentLoaded', () => {

    // Initialize sidebar

    const sidebarClassList = document.getElementById('sidebar').classList;
    document.getElementById('sidebarCollapse')
      .addEventListener('click', () => sidebarClassList.toggle('active'));

    // Initialize new-source button

    document.getElementById('createNewSourceButton')
      .addEventListener('click', createNewSource);

    // Initialize delete-source buttons

    const deleteSourceConfirmButton = document.getElementById('delete-source-confirm');

    Array.from(document.getElementsByClassName('delete-source')).forEach(deleteSourceButton => 
      deleteSourceButton.addEventListener('click', _ => 
        deleteSourceConfirmButton.dataset.deleteUrl = deleteSourceButton.dataset.deleteUrl
      )
    );

    deleteSourceConfirmButton.addEventListener('click', deleteSource);
  });

</script>
{% endblock page_specific_js %}
