{% load staticfiles %}

<!doctype html>
<html lang="en">

    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta name="description" content="DISA database entry form">
        <meta name="author" content="Brown University Library">

        <!-- <title>DISA</title> -->

        {% if title %}
        <title>{{ title }}</title>
        {% else %}
        <title>DISA</title>
        {% endif %}

        <!-- Bootstrap core CSS -->
        <!-- <link href="../../static/lib/bootstrap-4.5.0-dist/css/bootstrap.min.css" rel="stylesheet"> -->
        <!-- <link href="assets/css/sidebar-style.css" rel="stylesheet"> -->
        <!-- <link href="assets/css/dummy_file.css" rel="stylesheet"> -->

        <link href="{% static 'lib/bootstrap-4.5.0-dist/css/bootstrap.min.css' %}" rel="stylesheet">
        <link href="{% static 'css/redesign_sidebar-style.css' %}" rel="stylesheet">
        <link href="{% static 'css/redesign_dummy_file.css' %}" rel="stylesheet">

        <!-- Font Awesome JS -->
        <script defer src="https://use.fontawesome.com/releases/v5.0.13/js/solid.js" integrity="sha384-tzzSw1/Vo+0N5UhStP3bvwWPq+uvzCMfrN1fEFe+xBmv1C/AtVX5K0uZtmcHitFZ" crossorigin="anonymous"></script>
        <script defer src="https://use.fontawesome.com/releases/v5.0.13/js/fontawesome.js" integrity="sha384-6OIrr52G08NpOFSZdxxz1xdNSndlD4vdcf/q2myIUVO0VsqaGHJsB0RaBE01VTOY" crossorigin="anonymous"></script>

        <!-- <script defer src="assets/js/dummy_file.js"></script> -->
        <script defer src="{% static 'js/redesign_dummy_file.js' %}"></script>

        <!-- The CCS below can be moved into an external file eventually -->
        <style>

            /* Display toggle for the age field */

            #formInputDISAPersonAge_number {
                display: none;
            }

            .age-as-number #formInputDISAPersonAge_text {
                display: none;
            }

            .age-as-number #formInputDISAPersonAge_number {
                display: initial;
            }

        </style>

        {% block header_other %}{% endblock %}

    </head>


    <body>

        <div class="wrapper" style="margin-top: 3.5em;">
            <div id="sidebar">
                <div class="sidebar-header">
                    <div style="margin-right: -1.25em!important;">
                        <div style="float: right;margin-top: .33em;">
                            <button type="button" id="sidebarCollapse" class="btn btn-info">
                                <span style="font-weight: bold;">Toggle&nbsp;<br></span>
                                <i class="fas fa-info-circle fa-3x"></i>
                            </button>
                        </div>
                    </div>
                    <h1>Welcome to the Database of Indigenous Slavery</h1>
                    <p style="font-weight: bold;">This project, housed at Brown University, is a collaborative effort to build a database record of enslaved indigenous people throughout time, all across the Americas. Thank you for contributing to this project.</p>
                    <p style="font-weight: bold;">Here's how to start adding information.</p>
                    <p><i class="fas fa-arrow-right fa-lg" style="opacity: .55;"></i> CLICK <span class="sidebar-info-highlight">Add document</span> if you are entering people from a document that has not previously been added.</p>
                    <p><i class="fas fa-arrow-right fa-lg" style="opacity: .55;"></i> SEARCH under <span class="sidebar-info-highlight">Your recent</span> or <span class="action-highlight">All recent</span> if you are opening a document that you or someone else previously created.</p>
                    <p><i class="fas fa-arrow-right fa-lg" style="opacity: .55;"></i> The documents listed under <span class="sidebar-info-highlight">Your recent</span> offer the last fifteen documents you worked on.</p>
                    <p><i class="fas fa-arrow-right fa-lg" style="opacity: .55;"></i> The documents under <span class="sidebar-info-highlight">All recent</span> list the documents that anyone entering information into DISA have created.</p>
                    <p><i class="fas fa-arrow-right fa-lg" style="opacity: .55;"></i> CLICK <span class="sidebar-info-highlight">Show details</span> to see a timestamp and the username of the person who last edited each document.</p>
                </div>
            </div> <!-- /#sidebar -->

            <div id="content">

                <nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
                    <a class="navbar-brand" style="margin-right:4%;" href="#">Database of Indigenous Slavery in the Americas</a>
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="navbarsExampleDefault">
                        <ul class="navbar-nav mr-auto nav-fill w-100">
                            <li>

                            <!--
                            <form class="form-inline my-2 my-lg-0">
                                <input class="form-control mr-sm-2" type="text" placeholder="enter search-term" aria-label="Search">
                                <button class="btn btn-secondary my-2 my-sm-0" type="submit">
                                    <i class="fas fa-search fa-lg"></i>
                                </button>
                            </form>
                            -->

                            <form class="form-inline my-2 my-lg-0" action="{% url 'search_results_url' %}" method="get">

                                {% if search_query %}
                                <input class="form-control mr-sm-2" type="text" placeholder="searched: `{{ search_query }}`" aria-label="Search" id="query" name="query">
                                <!-- <input type="text" class="searchTerm" placeholder="searched: `{{ search_query }}`" id="query" name="query"> -->
                                {% else %}
                                <input class="form-control mr-sm-2" type="text" placeholder="enter search-term" aria-label="Search" id="query" name="query">
                                <!-- <input type="text" class="searchTerm" placeholder="enter search-term" id="query" name="query"> -->
                                {% endif %}

                                <button class="btn btn-secondary my-2 my-sm-0" type="submit">
                                    <i class="fas fa-search fa-lg"></i>
                                </button>
                            </form>


                            </li>

                            <!-- removed 2020-July-23 because the `Citations` link is the home-link
                            <li class="nav-item active">
                                <a class="nav-link" href="{% url 'redesign_home_url' %}">Home <span class="sr-only">(current)</span></a>
                            </li>
                            -->

                            <!--
                            <li class="nav-item">
                                <a class="nav-link" href="#" tabindex="-1" aria-disabled="true">People</a>
                            </li>
                            -->

                            <!--
                            <li class="nav-item">
                                <a class="nav-link" href="#" tabindex="-1" aria-disabled="true">Documents</a>
                            </li>
                            -->

                            <!--
                            <li class="nav-item">
                                <a class="nav-link" href="#">Login / (Welcome, User)</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#">Logout</a>
                            </li>
                            -->

                            {% if user_is_authenticated %}
                            <li class="nav-item">
                                <a class="nav-link" href="{% url 'people_url' %}" tabindex="-1" aria-disabled="false">People</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="{% url 'redesign_citations_url' %}" tabindex="-1" aria-disabled="false">Citations</a>
                            </li>
                            <li class="nav-item">
                                <span class="navbar-text text-white">(Welcome {{ user_first_name }})</span>
                            </li>
                            <li class="nav-item">
                                {% if logout_next %}
                                <a class="nav-link" href="{% url 'logout_url' %}?next={{ logout_next }}">Logout</a>
                                {% else %}
                                <a class="nav-link" href="{% url 'logout_url' %}?next={% url 'login_url' %}">Logout</a>
                                {% endif %}
                            </li>
                            {% else %}
                            <li class="nav-item">
                                <a class="nav-link" href="{% url 'login_url' %}">Login</a>
                            </li>
                            {% endif %}


                            <!--
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" href="#" id="dropdown01" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">[Dropdown]</a>
                                <div class="dropdown-menu" aria-labelledby="dropdown01">
                                  <a class="dropdown-item" href="#">Action</a>
                                  <a class="dropdown-item" href="#">Another action</a>
                                  <a class="dropdown-item" href="#">Something else here</a>
                                </div>
                            </li>
                            -->

                        </ul>
                    </div>
                </nav>

                <main class="container">
                    {% block content %}
                    {% endblock content %}
                </main>

            </div>  <!-- /#content -->

        </div>  <!-- /.wrapper -->

        <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>

        <!-- <script>window.jQuery || document.write('<script src="../../static/lib/bootstrap-4.5.0-dist/js/bootstrap.min.js"><\/script>')</script> -->
        <!-- <script src="../../static/lib/bootstrap-4.5.0-dist/js/bootstrap.min.js"></script> -->
        <script src="{% static 'lib/bootstrap-4.5.0-dist/js/bootstrap.min.js' %}"></script>

        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js" integrity="sha384-cs/chFZiN24E4KMATLdqdvsezGxaGsi4hLGOzlXwp5UZB1LY//20VyM2taTB4QvJ" crossorigin="anonymous"></script>
        <script>
            $(document).ready(function () {
                $('#sidebarCollapse').on('click', function () {
                    $('#sidebar').toggleClass('active');
                });
            });
        </script>

    </body>
</html>
