{% extends "disa_app_templates/redesign_base.html" %}

{% block header_other %}

<link href="/static/redesign_citation.css" rel="stylesheet"></link>
<script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
<!-- Production version of Vue
<script src="https://cdn.jsdelivr.net/npm/vue@2"></script>
-->

<script type="module">

  // THIS IS THE MAIN MODULE
  // It initializes the data structure and passes it to main()

  import {main} from '/static/js/redesign_citation.js';
  import {LOCAL_SETTINGS} from '/static/js/redesign_settings.js';

  function preprocessCitationData(data) { 

    // Convert dates to YYYY-MM-DD format
    // @todo should be done on server

    data.citation_type_fields.date = 
      (new Date(data.citation_type_fields.date))
      .toISOString()
      .slice(0,10);

    data.citation_type_fields.accessDate = 
      (new Date(data.citation_type_fields.accessDate))
      .toISOString()
      .slice(0,10);

    return data;
  }

  const SERVER_SETTINGS = {
    citation_data: preprocessCitationData(JSON.parse(
    `{{ citation_json | safe }}`
    )),
    doc_id: '{{ doc.id }}',
    cite_type_fields: JSON.parse(
      `{{ ct_fields_json | safe }}`
    ),
    docDataApi: {
      root: "{% url 'data_documents_url' %}",
      copy: "{% url 'data_documents_url' 'copy' %}",
      docId: "{% url 'data_documents_url' 'STUB' %}",
      noDocId: "{% url 'data_documents_url' %}"
    },
    ref_del_api: "{% url 'data_reference_url' 'STUB' %}",
    documents_url: "{% url 'editor_index_url' %}",
    can_delete_doc: {% if can_delete_doc %}true{% else %}false{% endif %},
    DOC_TYPES: { // hard coded for now
      'Book': 20,
      'Book Section': 21,
      'Document': 26,
      'Interview': 33,
      'Journal Article': 34,
      'Magazine Article': 36,
      'Manuscript': 37,
      'Newspaper Article': 39,
      'Thesis': 46,
      'Webpage': 49
    }
  };

  const SETTINGS = Object.assign({}, LOCAL_SETTINGS, SERVER_SETTINGS);
  console.log('SETTINGS', SETTINGS);
  // @todo keep local/server settings separate so that server 
  //  settings can be sent back to server?
  main(SETTINGS);

</script>

{% endblock header_other %}

<!-- Just a note that we could have page-specific sidebar documentation here, if desired. -->

{% block sidebar %}
{% endblock sidebar %}

<!-- The content-block html below is within the redesign_base.html template's `<main class="container">` element. -->

{% block content %}

<!-- JavaScript-savvy URL control to toggle div display between 
     #startpanel above & #tabs_bibinfoanditems below -->

<!-- MAIN NAV TABS -->

<div id="tabs_bibinfoanditems" style="margin-top:10em;">
  <ul class="nav nav-tabs" role="tablist">
    <li class="nav-item" role="presentation">
      <button class="nav-link active" id="bib-tab" 
              data-bs-toggle="tab" 
              data-bs-target="#Bibliographic-information" 
              type="button" role="tab" aria-controls="Bibliographic-information" 
              aria-selected="true">
        Bibliographic information
      </button>
    </li>
    <li class="nav-item" role="presentation">
      <button class="nav-link" id="item-tab" 
              data-bs-toggle="tab" 
              data-bs-target="#Items" 
              type="button" role="tab" aria-controls="Items" 
              aria-selected="false">
        Items
      </button>
    </li>
  </ul>

  <!-- TAB CONTENT -->

  <div class="tab-content">
    <div class="tab-pane show active" style="padding: 20px;"
         role="tabpanel" aria-labelledby="bib-tab"
         id="Bibliographic-information">

      <form id="citation-form" 
            v-on:submit.prevent="onSubmitForm">
        <span class="badge badge-primary float-right"
          title="Unique identifier for this citation">
          ID {{ doc.id }}
        </span>
        <h5 class="text-dark" style="width:25%;float:left;">
          Citation type
        </h5>
        <div style="clear: left;">
          <select class="custom-select" id="document_type"
                  v-model="citation_data.citation_type_id">
            <option value="0" class="initMessage" 
                    v-if="!citation_data.citation_type_id">
              [Select a document type]
            </option>
            <option v-for="(docTypeId, docTypeName) in DOC_TYPES"
                    v-bind:value="docTypeId"
                    v-text="docTypeName">
            </option>
          </select>
  </div>

  <div id="citation-fields" 
       style="display:flex; flex-direction:column">

    <!-- HEADERS: Priority vs Optional -->

    <h5 id="required-fields-header" style="order:100" hidden>
      Priority information
    </h5>
    <h5 id="optional-fields-header" style="order:200" hidden>
      Additional information
    </h5>

    <!-- FIELDS: Dynamically moved under headings via flexbox order property -->

    <div class="citation-field form-group text-dark"
         id="abstractNote">
      <label for="abstractNote-value"
        style="padding-left:15%;">Abstract Note</label>
      <input id="abstractNote-value" name="abstractNote-value"
        placeholder="Abstract Note"
        v-model="citation_data.citation_type_fields.abstractNote" />
    </div>
    <div class="citation-field form-group text-dark"
      id="accessDate">
      <label for="accessDate-value"
        style="padding-left:15%;">Access Date</label>
      <input id="accessDate-value" name="accessDate-value"
        type="date" placeholder="Access Date"
        v-model="citation_data.citation_type_fields.accessDate" />
    </div>
    <div class="citation-field form-group text-dark" id="archive">
      <label for="archive-value"
        style="padding-left:15%;">Archive</label>
      <!-- <input id="archive-value" name="archive-value"  placeholder="Archive" /> -->
      <input id="archive-value" name="archive-value"
        placeholder="Archive" 
        v-model="citation_data.citation_type_fields.archive" />
    </div>
    <div class="citation-field form-group text-dark"
      id="archiveLocation">
      <label for="archiveLocation-value"
        style="padding-left:15%;">Archive Location</label>
      <input id="archiveLocation-value"
        name="archiveLocation-value"
        placeholder="Archive Location"
        v-model="citation_data.citation_type_fields.archiveLocation" />
    </div>
    <div class="citation-field form-group text-dark"
      id="author">
      <label for="author-value"
        style="padding-left:15%;">Author</label>
      <!-- <input id="author-value" name="author-value"  placeholder="Author (last name comes first)" /> -->
      <input id="author-value" name="author-value"
        placeholder="Author (last name comes first)"
        v-model="citation_data.citation_type_fields.author" />
    </div>
    <div class="citation-field form-group text-dark"
      id="callNumber">
      <label for="callNumber-value"
        style="padding-left:15%;">Call Number</label>
      <input id="callNumber-value" name="callNumber-value"
        placeholder="Call Number"
        v-model="citation_data.citation_type_fields.callNumber" />
    </div>
    <div class="citation-field form-group text-dark"
      id="date">
      <label for="date-value"
        style="padding-left:15%;">Date</label>
      <input id="date-value" name="date-value" placeholder="Date"
             type="date"
             v-model="citation_data.citation_type_fields.date" /> 

      <!--  BROKEN OUT WITH YEAR/MONTH/DAY FOR WHEN WE'RE IMPLEMENTING
            THE NEW DATA MODEL

      <label for="date-year-value">Year 
        <input id="date-year-value" name="date-year-value" type="number" 
                v-model="citation_data.citation_type_fields['date-year']" />
      </label>
      <label for="date-month-value">Month
        <select id="date-month-value" name="date-month-value"
                v-model="citation_data.citation_type_fields['date-month']">
          <option value="0">Not specified</option>
          <option value="1">January</option>
          <option value="2">February</option>
          <option value="3">March</option>
          <option value="4">April</option>
          <option value="5">May</option>
          <option value="6">June</option>
          <option value="7">July</option>
          <option value="8">August</option>
          <option value="9">September</option>
          <option value="10">October</option>
          <option value="11">November</option>
          <option value="12">December</option>
        </select>
      </label>
      <label for="date-day-value">Day
        <select id="date-day-value" name="date-day-value"
                v-model="citation_data.citation_type_fields['date-day']">
          <option	value="0">	Not specified	</option>
          <option	value="1">	1	</option>
          <option	value="2">	2	</option>
          <option	value="3">	3	</option>
          <option	value="4">	4	</option>
          <option	value="5">	5	</option>
          <option	value="6">	6	</option>
          <option	value="7">	7	</option>
          <option	value="8">	8	</option>
          <option	value="9">	9	</option>
          <option	value="10">	10	</option>
          <option	value="11">	11	</option>
          <option	value="12">	12	</option>
          <option	value="13">	13	</option>
          <option	value="14">	14	</option>
          <option	value="15">	15	</option>
          <option	value="16">	16	</option>
          <option	value="17">	17	</option>
          <option	value="18">	18	</option>
          <option	value="19">	19	</option>
          <option	value="20">	20	</option>
          <option	value="21">	21	</option>
          <option	value="22">	22	</option>
          <option	value="23">	23	</option>
          <option	value="24">	24	</option>
          <option	value="25">	25	</option>
          <option	value="26">	26	</option>
          <option	value="27">	27	</option>
          <option	value="28">	28	</option>
          <option	value="29">	29	</option>
          <option	value="30">	30	</option>
          <option	value="31">	31	</option>
        </select>
      </label>
      -->
    </div>
    <div class="citation-field form-group text-dark"
      id="edition">
      <label for="edition-value"
        style="padding-left:15%;">Edition</label>
      <input id="edition-value" name="edition-value"
        placeholder="Edition" 
        v-model="citation_data.citation_type_fields.edition" />
    </div>
    <div class="citation-field form-group text-dark"
      id="extra">
      <label for="extra-value"
        style="padding-left:15%;">Extra</label>
      <input id="extra-value" name="extra-value"
        placeholder="Extra" 
        v-model="citation_data.citation_type_fields.extra" />
    </div>
    <div class="citation-field form-group text-dark"
      id="ISBN">
      <label for="ISBN-value"
        style="padding-left:15%;">ISBN</label>
      <input id="ISBN-value" name="ISBN-value"
        placeholder="ISBN" 
        v-model="citation_data.citation_type_fields.ISBN" />
    </div>
    <div class="citation-field form-group text-dark"
      id="ISSN">
      <label for="ISSN-value"
        style="padding-left:15%;">ISSN</label>
      <input id="ISSN-value" name="ISSN-value"
        placeholder="ISSN" 
        v-model="citation_data.citation_type_fields.ISSN" />
    </div>
    <div class="citation-field form-group text-dark"
      id="language">
      <label for="language-value"
        style="padding-left:15%;">Language</label>
        <!-- @todo SHOULD BE A DROPDOWN? -->
      <input id="language-value" name="language-value"
        placeholder="Language" 
        v-model="citation_data.citation_type_fields.language" />
    </div>
    <div class="citation-field form-group text-dark"
      id="libraryCatalog">
      <label for="libraryCatalog-value"
        style="padding-left:15%;">Library Catalog</label>
      <input id="libraryCatalog-value"
        name="libraryCatalog-value"
        placeholder="Library Catalog"
        v-model="citation_data.citation_type_fields.libraryCatalog" />
    </div>
    <div class="citation-field form-group text-dark"
      id="pages">
      <label for="pages-value"
        style="padding-left:15%;">Pages</label>
      <input id="pages-value" name="pages-value"
        placeholder="Pages"
        v-model="citation_data.citation_type_fields.pages" />
    </div>
    <div class="citation-field form-group text-dark"
      id="place">
      <label for="place-value"
        style="padding-left:15%;">Place</label>
      <!-- <input id="place-value" name="place-value" placeholder="Place" /> -->
      <input id="place-value" name="place-value"
        placeholder="Place"
        v-model="citation_data.citation_type_fields.place" />
    </div>
    <div class="citation-field form-group text-dark"
      id="publicationTitle">
      <label for="publicationTitle-value"
        style="padding-left:15%;">Publication Title</label>
      <input id="publicationTitle-value"
        name="publicationTitle-value"
        placeholder="Publication Title"
        v-model="citation_data.citation_type_fields.publicationTitle" />
    </div>
    <div class="citation-field form-group text-dark"
      id="rights">
      <!-- @todo DROPDOWN? -->
      <label for="rights-value"
        style="padding-left:15%;">Rights</label>
      <input id="rights-value" name="rights-value"
        placeholder="Rights"
        v-model="citation_data.citation_type_fields.rights" />
    </div>
    <div class="citation-field form-group text-dark"
      id="section">
      <label for="section-value"
        style="padding-left:15%;">Section</label>
      <input id="section-value" name="section-value"
        placeholder="Section"
        v-model="citation_data.citation_type_fields.section" />
    </div>
    <div class="citation-field form-group text-dark"
      id="series">
      <label for="series-value"
        style="padding-left:15%;">Series</label>
      <input id="series-value" name="series-value"
        placeholder="Series"
        v-model="citation_data.citation_type_fields.series" />
    </div>
    <div class="citation-field form-group text-dark"
      id="seriesNumber">
      <label for="seriesNumber-value"
        style="padding-left:15%;">Series Number</label>
      <input id="seriesNumber-value" name="seriesNumber-value"
        placeholder="Series Number" 
        v-model="citation_data.citation_type_fields.seriesNumber" />
    </div>
    <div class="citation-field form-group text-dark"
      id="shortTitle">
      <label for="shortTitle-value"
        style="padding-left:15%;">Short Title</label>
      <input id="shortTitle-value" name="shortTitle-value"
        placeholder="Short Title" 
        v-model="citation_data.citation_type_fields.shortTitle" />
    </div>
    <div class="citation-field form-group text-dark"
      id="title">
      <label for="title-value"
        style="padding-left:15%;">Title</label>
      <!-- <input id="title-value" name="title-value" placeholder="Title" /> -->
      <input id="title-value" name="title-value"
        placeholder="Title"
        v-model="citation_data.citation_type_fields.title" />
    </div>
    <div class="citation-field form-group text-dark" id="url">
      <label for="url-value"
        style="padding-left:15%;">URL</label>
      <input id="url-value" name="url-value"
        type="url" placeholder="https://..." 
        v-model="citation_data.citation_type_fields.url" />
    </div>
  </div>

  <div class="form-group">
    <label for="formInputDISAAcknowledgements"
      style="padding-left:0%;">Acknowledgements</label>
    <textarea style="width:75%;float:right;"
      class="form-control" rows="3"
      id="formInputDISAAcknowledgements"></textarea>
  </div>
  <div class="form-group" style="clear:both; margin-top: 3em">
    <label for="formInputDISABiblioResearcherNotes"
      style="padding-left:0%;">Researcher notes
      <br>
      <span style="font-size:85%;"><a href="#">Report problems
          or ask for help</a></span>
    </label>
    <textarea style="width:75%;float:right;"
      class="form-control" rows="3"
      id="formInputDISABiblioResearcherNotes"></textarea>
  </div>
  <p>&nbsp;</p>
  <p>&nbsp;</p>
    
  <button type="submit" 
    class="btn btn-primary btn-md"
    id="citation-form-submit">
    SAVE AND CONTINUE TO ENTER ITEMS
  </button>
  </form>
    </div> <!-- /.tab-pane for bibinfo -->
    <!-- Items tab content, below, coded for Bootstrap v5 floating form fields -->
    <div class="tab-pane" 
         role="tabpanel" aria-labelledby="item-tab" id="Items">
      <div style="padding: 0px; padding-top: 0px;">
      <ul class="nav nav-tabs" role="tablist" style="padding: 20px;">
        <li class="nav-item"> <a class="nav-link" href="#New-Item" data-toggle="tab" role="tab" aria-controls="New-Item" aria-expanded="true">New Item</a> </li>
        <li style="font-weight: bold;padding-left: 25px;padding-top: 9px;" class="text-success">All changes saved</li>
      </ul>
      <div class="tab-content" style="background-color: white!important;opacity:1;">
        <div class="active tab-pane" role="tabpanel" aria-labelledby="New-Item" id="New-Item" style="margin-top:-20px;padding-top:0px;">
          <div class="row col-lg-12" style="padding-top:40px;padding-left:25px;">
            <div class="col-md-6">
              <h5 class="text-dark" style="float:left;">Location in source document</h5>
              <p>&nbsp;</p>
              <div class="form-floating">
                <input type="number" class="form-control" id="formInputDISAItemVolume" aria-label="Volume" placeholder="#">
                <label for="formInputDISAItemVolume">Volume</label>
              </div>
              <div class="form-floating">
                <input type="number" class="form-control" id="formInputDISASourcePageStart" aria-label="starting page number" placeholder="#">
                <label for="formInputDISASourcePageStart">Page number, from:</label>
              </div>
              <div class="form-floating">
                <input type="number" class="form-control" id="formInputDISASourcePageEnd" aria-label="ending page number" placeholder="#">
                <label for="formInputDISASourcePageEnd">to:</label>
              </div>
            </div>
            <div class="col-md-6">
              <h5 class="text-dark" style="float:left;">Item content</h5>
              <p>&nbsp;</p>
              <div class="form-floating">
                <select class="form-select" id="formInputDISAItemType" aria-label="Event date: month">
                  <option selected>Select an item type...</option>
                  <option value="1">One</option>
                  <option value="2">Two</option>
                  <option value="3">Three</option>
                </select>
                <label for="formInputDISAItemType">Item type</label>
              </div>
              <div class="form-floating">
                <textarea class="form-control" placeholder="" id="formInputDISAItemTranscription" style="height: 128px"></textarea>
                <label for="formInputDISAItemTranscription">Transcription</label>
                <a href="#" style="font-size:80%;font-weight:bold;clear:left;">Open in new window</a> </div>
            </div>
          </div> <!-- /.row -->
          <hr>
          <div class="row" style="padding:25px;">
            <div class="col-md-6">
              <h5 class="text-dark">Event date</h5>
              <div class="form-floating">
                <select class="form-select" id="formInputDISAEventDateMonth" aria-label="Event date: month">
                  <option selected>Unspecified</option>
                  <option value="1">Unspecified 1</option>
                  <option value="2">Unspecified 2</option>
                  <option value="3">Unspecified 3</option>
                </select>
                <label for="formInputDISAEventDateMonth">Month</label>
              </div>
              <div class="form-floating">
                <select class="form-select" id="formInputDISAEventDateDay" aria-label="Event date: day">
                  <option selected>Unspecified</option>
                  <option value="1">Unspecified 1</option>
                  <option value="2">Unspecified 2</option>
                  <option value="3">Unspecified 3</option>
                </select>
                <label for="formInputDISAEventDateDay">Day</label>
              </div>
              <div class="form-floating">
                <select class="form-select" id="formInputDISAEventDateYear" aria-label="Event date: year">
                  <option selected>Unspecified</option>
                  <option value="1">Unspecified 1</option>
                  <option value="2">Unspecified 2</option>
                  <option value="3">Unspecified 3</option>
                </select>
                <label for="formInputDISAEventDateYear">Year</label>
              </div>
              <div class="form-floating">
                <input type="text" class="form-control" id="formInputDISAEventDateInfo" aria-label="Additional date information" placeholder="">
                <label for="formInputDISAEventDateInfo">Additional date info.</label>
              </div>
            </div>
            <div class="col-md-6">
              <h5 class="text-dark" style="">Place</h5>
              <div class="form-floating">
                <select class="form-select" id="formInputDISAColonialContext" aria-label="Colonial context">
                  <option selected>Select a colonial context...</option>
                  <option value="1">[context option 1]</option>
                  <option value="2">[context option 2]</option>
                  <option value="3">[context option 3]</option>
                </select>
                <label for="formInputDISAColonialContext">Colonial context</label>
              </div>
              <div class="form-floating">
                <input type="text" class="form-control" id="formInputDISAColonyState" aria-label="Colony / State" placeholder="">
                <label for="formInputDISAColonyState">Colony / State</label>
              </div>
              <div class="form-floating">
                <input type="text" class="form-control" id="formInputDISATown" aria-label="Town" placeholder="">
                <label for="formInputDISATown">Town</label>
              </div>
              <div class="form-floating">
                <input type="text" class="form-control" id="formInputDISAPlaceInfo" aria-label="Additional location information" placeholder="">
                <label for="formInputDISAPlaceInfo">Additional location info.</label>
              </div>
            </div>
          </div>
          <hr>
          <div class="row" style="padding-top:20px;padding-right:20px;">
            <div class="col-md-12" style="margin-left: 40px;">
              <h5 class="text-dark" style="float:left;">People</h5>
              <a href="#" class="text-primary" style="padding-left: 25px;font-size: 107%;">ADD PERSON</a>
              <p>&nbsp;</p>
              <p></p>
            </div>
          </div>
          <div class="col-lg-12" style="padding: 40px;padding-top: 0px">
            <div class="card">
              <div class="card-header"> <a href="#">NEW PERSON</a> </div>
              <div class="card-body">
                <div style="padding-left:20px;padding-top:20px;width:auto;position: relative;">
                  <div> Name(s) </div>
                </div>
                <div style="float:right;width:87%;margin-bottom: 0;padding-bottom: 0;">
                  <div style="padding: 20px;clear:none;margin-top:-20px;border:1px;border-color:LightGray;border-style: solid;clear: none;position: relative;margin-right:40px;">
                    <div class="custom-control custom-switch" style="">
                      <input type="checkbox" class="custom-control-input" id="formCustomSwitchForAdvancedNames">
                      <label style="font-size: 85%;margin-top: -10px;font-weight:bold;" class="custom-control-label" for="formCustomSwitchForAdvancedNames">ADVANCED NAME OPTIONS</label>
                    </div>
                    <div class="form-floating">
                      <select class="form-select" id="formInputDISAItemPersonNameType" aria-label="Name type">
                        <option selected>[context option]</option>
                        <option value="1">[context option 1]</option>
                        <option value="2">[context option 2]</option>
                        <option value="3">[context option 3]</option>
                      </select>
                      <label for="formInputDISAItemPersonNameType">Name type</label>
                    </div>
                    <div class="form-floating">
                      <input type="text" class="form-control" id="formInputDISAItemPersonNameTranscription" aria-label="Full name transcription" placeholder="">
                      <label for="formInputDISAItemPersonNameTranscription">Full name transcription</label>
                    </div>
                    <div class="form-floating">
                      <input type="text" class="form-control" id="formInputDISAItemPersonFirstName" aria-label="First name" placeholder="">
                      <label for="formInputDISAItemPersonFirstName">First name</label>
                    </div>
                    <div class="form-floating">
                      <input type="text" class="form-control" id="formInputDISAItemPersonLastName" aria-label="Last name" placeholder="">
                      <label for="formInputDISAItemPersonLastName">Last name</label>
                    </div>
                  </div>
                  <p style="clear:both;float:left;padding-top:10px;"><i class="fas fa-plus-circle text-primary"></i>&nbsp;<a href="#" class="text-primary">ADD ANOTHER NAME</a></p>
                </div>
                <div class="row" style="padding-top:10px;clear: both;">
                  <div class="col-md-6">
                    <div class="form-floating">
                      <select class="form-select" id="formInputDISAPersonGender" aria-label="New person's gender">
                        <option selected>&nbsp;</option>
                        <option value="1">&nbsp;</option>
                        <option value="2">&nbsp;</option>
                        <option value="3">&nbsp;</option>
                      </select>
                      <label for="formInputDISAPersonGender">Gender</label>
                    </div>
                    <div class="form-group">
                      <div class="form-floating">
                        <select style="" class="form-select" id="formInputDISAPersonAge_number" aria-label="New person's age (number)">
                          <option selected>&nbsp;</option>
                          <option value="-1">Unspecified</option>
                          <option value="1">1 year</option>
                          <option value="2">2 years</option>
                          <option value="3">3 years</option>
                        </select>
                        <label for="formInputDISAPersonAge_number">Age</label>
                        <input type="text" class="form-control" id="formInputDISAPersonAge_text" aria-label="New person's age (text)">
                        <div class="form-check" style="margin-top:-6px;">
                          <input class="form-check-input" style="margin-left:.125em;" type="checkbox" id="formInputSpecifiedByNumber" value="option1">
                          <label class="form-check-label" style="font-size: 85%;font-weight:bold;margin-left:.5em;margin-top:-10px;" for="formInputSpecifiedByNumber">AGE SPECIFIED BY A NUMBER</label>
                        </div>
                      </div>
                    </div>
                    <div class="form-floating">
                      <select class="form-select" id="formInputDISAPersonStatus" aria-label="New person's status">
                        <option selected>&nbsp;</option>
                        <option value="1">&nbsp;</option>
                        <option value="2">&nbsp;</option>
                        <option value="3">&nbsp;</option>
                      </select>
                      <label for="formInputDISAPersonStatus">Status</label>
                    </div>
                    <div class="form-floating">
                      <input type="text" class="form-control" id="formInputDISAStatusInfo" aria-label="Additional status information" placeholder="">
                      <label for="formInputDISAStatusInfo">Additional status info.</label>
                    </div>
                    <div class="form-floating">
                      <input type="text" class="form-control" id="formInputDISAPersonVocation" aria-label="Vocation" placeholder="">
                      <label for="formInputDISAPersonVocation">Vocation</label>
                    </div>
                  </div>
                  <div class="col-md-6">
                    <div class="form-floating">
                      <select class="form-select" id="formInputDISAPersonRace" aria-label="New person's race">
                        <option selected>&nbsp;</option>
                        <option value="1">&nbsp;</option>
                        <option value="2">&nbsp;</option>
                        <option value="3">&nbsp;</option>
                      </select>
                      <label for="formInputDISAPersonRace">Race</label>
                    </div>
                    <div class="form-floating">
                      <input type="text" class="form-control" id="formInputDISAPersonRaceTerms" aria-label="Exact racial terms used" placeholder="">
                      <label for="formInputDISAPersonRaceTerms">Exact racial terms used</label>
                    </div>
                    <div class="form-floating">
                      <select class="form-select" id="formInputDISAPersonTribe" aria-label="New person's tribe">
                        <option selected>&nbsp;</option>
                        <option value="1">&nbsp;</option>
                        <option value="2">&nbsp;</option>
                        <option value="3">&nbsp;</option>
                      </select>
                      <label for="formInputDISAPersonTribe">Tribe</label>
                    </div>
                    <div class="form-floating">
                      <input type="text" class="form-control" id="formInputDISAPersonTribeTerms" aria-label="Exact identity/geographical terms used" placeholder="">
                      <label for="formInputDISAPersonTribeTerms">Exact identity/geographical terms used</label>
                    </div>
                    <div class="form-floating">
                      <input type="text" class="form-control" id="formInputDISAPersonGeoOrigins" aria-label="Geographic origins" placeholder="">
                      <label for="formInputDISAPersonGeoOrigins">Geographic origins</label>
                    </div>
                  </div>
                </div>
              </div> <!-- /.card-body for a new person --> 
            </div>
          </div>
          <div class="col-lg-12" style="padding-top:0px;padding-left:40px;padding-right:40px;padding-bottom:40px;">
            <div class="form-floating">
              <textarea class="form-control" placeholder="Enter notes here..." id="formInputDISAPeopleResearcherNotes" style="height: 128px"></textarea>
              <label for="formInputDISAPeopleResearcherNotes">Researcher notes</label>
              <a href="#" style="font-size:80%;font-weight:bold;clear:left;">Report problems or ask for help</a> </div>
            <button type="button" class="btn btn-secondary btn-md" style="font-weight: bold;margin-top: 20px;">ALL CHANGES SAVED</button>
            <button type="button" class="btn btn-primary btn-md" style="font-weight: bold;margin-top: 20px;margin-left: 15px;">SAVE ITEM AND EXIT THIS SOURCE DOCUMENT</button>
          </div>
        </div> <!-- /.tab-pane for items --> 
      </div> <!-- /.tab-content for items --> 
    </div>
    </div>
  </div>
</div> <!-- /#tabs_bibinfoanditems -->

{% endblock content %}


{% block page_specific_js %}


{% endblock page_specific_js %}



