{% extends "disa_app_templates/redesign_base.html" %}


<!-- The sidebar-block html below is within the redesign_base.html template's `<div class="wrapper" style="margin-top: 3.5em;">` element. -->

{% block sidebar %}

<div id="sidebar">
    <div class="sidebar-header">
        <div style="margin-right: -1.25em!important;">
            <div style="float: right;margin-top: .33em;">
                <button type="button" id="sidebarCollapse" class="btn btn-info">
                    <span style="font-weight: bold;">Toggle&nbsp;<br></span>
                    <i class="fas fa-info-circle fa-3x"></i>
                </button>
            </div>
        </div>
        <h1>Welcome to Stolen Relations</h1>
        <p style="font-weight: bold;">This project, housed at Brown University, is a collaborative effort to build a database record of enslaved indigenous people throughout time, all across the Americas. Thank you for contributing to this project.</p>
        <p style="font-weight: bold;">Here's how to start adding information.</p>
        <p><i class="fas fa-arrow-right fa-lg" style="opacity: .55;"></i> CLICK <span class="sidebar-info-highlight">Add source</span> if you are entering people from a document that has not previously been added.</p>
        <p><i class="fas fa-arrow-right fa-lg" style="opacity: .55;"></i> SEARCH under <span class="sidebar-info-highlight">Your recent</span> or <span class="action-highlight">All recent</span> if you are opening a document that you or someone else previously created.</p>
        <p><i class="fas fa-arrow-right fa-lg" style="opacity: .55;"></i> The documents listed under <span class="sidebar-info-highlight">Your recent</span> offer the last fifteen documents you worked on.</p>
        <p><i class="fas fa-arrow-right fa-lg" style="opacity: .55;"></i> The documents under <span class="sidebar-info-highlight">All recent</span> list the documents that anyone entering information into DISA have created.</p>
        <p><i class="fas fa-arrow-right fa-lg" style="opacity: .55;"></i> CLICK <span class="sidebar-info-highlight">Show details</span> to see a timestamp and the username of the person who last edited each document.</p>
    </div>
</div> <!-- /#sidebar -->

{% endblock sidebar %}


<!-- The content-block html below is within the redesign_base.html template's `<main class="container">` element. -->

{% block content %}

<div id="startpanel">
    <h1 class="text-secondary">Choose a source</h1>
    <h3>Starting with a new source?</h3>
    <button type="button" class="btn btn-primary btn-lg" style="font-weight: bold">Add source</button>
    <h3>Returning to a previously added document?</h3>
    {% if user_documents %}
    <h5 class="text-primary col-lg-5 col-sm-11" style="letter-spacing: .5px; padding: 0;">Your recent sources</h5>
    <table class="table table-striped col-lg-5 col-sm-11" style="background-color: white;">
        <thead style="background-color: #eeeeee;">
            <tr>
                <th>ID</th>
                <th>Document Title</th>
                <th></th>
                <!--<th>X</th>-->
            </tr>
        </thead>
        <tbody>
            {% for entry in user_documents %}
            <tr>
                <td><a href="{% url 'redesign_citation_url' entry.doc.id %}">{{ entry.doc.id }}</a></td>
                <td class="table-info">
                  <a href="{% url 'redesign_citation_url' entry.doc.id %}">
                    {{ entry.doc.display }}
                  </a>
                </td>
                <td style="background-color: #eeeeee;">
                    <button type="button" class="btn btn-primary btn-sm">
                      delete
                    </button>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

    <h5 class="text-primary col-lg-5 col-sm-11" style="letter-spacing: .5px; padding: 0;">
        All recent sources
    </h5>

    {% endif %}

    <!-- HIDE UNTIL IMPLEMENTED
        <a href="#" style="float: right;">Show details ></a>
    -->

    <table id="all-recent-citations"
            class="table table-striped"
            style="background-color: white; table-layout: fixed!important;">
        <thead style="background-color: #eeeeee;">
            <tr>
                <th style="width: 8%;">ID</th>
                <th>Document Title</th>
                <!--<th>X</th>
                 <th>X</th>-->
            </tr>
        </thead>
        <tbody>
            {% for entry in documents %}
            <tr>
                <td><a href="{% url 'redesign_citation_url' entry.doc.id %}">{{ entry.doc.id }}</a></td>
                <td class="table-info">{{ entry.doc.display }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div> <!-- /#startpanel -->

{% endblock content %}


{% block page_specific_js %}
<script>

  window.addEventListener('DOMContentLoaded', () => {
    const sidebarClassList = document.getElementById('sidebar').classList;
    document.getElementById('sidebarCollapse')
      .addEventListener('click', () => sidebarClassList.toggle('active'));
  });

</script>
{% endblock page_specific_js %}
