{% extends "disa_app_templates/redesign_base.html" %}
{% load staticfiles %}

{% block header_other %}

<link rel="stylesheet" type="text/css" href="{% static 'css/redesign_citation.css' %}">

<script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/2.9.1/umd/popper.min.js" integrity="sha512-g2PN+aYR0KupTVwea5Ppqw4bxWLLypWdd+h7E0ydT8zF+/Y2Qpk8Y1SnzVw6ZCVJPrgB/91s3VfhVhP7Y4+ucw==" crossorigin="anonymous"></script>
<script src="{% static 'js/tagify.min.js' %}" type="module"></script>
<script src="{% static 'js/redesign_citation.js' %}" type="module"></script>

<!-- Production version of Vue
<script src="https://cdn.jsdelivr.net/npm/vue@2"></script>
-->

<link rel="stylesheet" href="{% static 'css/tagify.css' %}"></link>
<style>

  .disa-id-badge {
    font-size: 12px;
  }

  .disa-id-badge {
    cursor: pointer;
  }

  #save-status {
    position: fixed;
    left: 10px;
    bottom: 10px;
  }

  #item-selector-modal .modal-body li {
    cursor: pointer;
  }

  .disa-tags-input {
    display: inline-block;
  }

</style>

<script type="text/javascript">
    var data_itemrecord_api_url_root = "{{ data_itemrecord_api_url_root }}",  // needed by `redesign_data.js`
        TOKEN = "{{ csrf_token }}";
</script>

<script type="module" src="{% static 'js/redesign_citation.js' %}"></script>

{% endblock header_other %}

<!-- Just a note that we could have page-specific sidebar documentation here, if desired. -->

{% block sidebar %}
{% endblock sidebar %}

<!-- The content-block html below is within the redesign_base.html template's `<main class="container">` element. -->

{% block content %}

<!-- JavaScript-savvy URL control to toggle div display between
     #startpanel above & #tabs_bibinfoanditems below -->

<!-- Save status indicator

    THIS NEEDS TO GET MOVED TO WITHIN VUE SCOPE

-->

<span id="save-status" class="badge bg-primary"
      v-text="saveStatus">
  <!--
  <span v-if="saveStatus === 'saving-item'"
        v-text="`Saving changes to item ${currentItemId}`">ddd</span>
  <span v-else v-text="saveStatus">All changes saved</span> -->
</span>

<!-- MAIN NAV TABS -->

<div id="tabs_bibinfoanditems" style="margin-top:10em;">
  <ul class="nav nav-tabs" role="tablist">
    <li class="nav-item" role="presentation">
      <button class="nav-link active"
              id="bib-tab"
              data-bs-toggle="tab"
              data-bs-target="#Bibliographic-information"
              type="button" role="tab" aria-controls="Bibliographic-information"
              aria-selected="true">
        Bibliographic information
      </button>
    </li>
    <li class="nav-item" role="presentation">
      <button class="nav-link"
              id="item-tab"
              data-bs-toggle="tab"
              data-bs-target="#Items"
              type="button" role="tab" aria-controls="Items"
              aria-selected="false">
        Items
      </button>
    </li>
  </ul>

  <!-- TAB CONTENT -->

  <div class="tab-content">

    <!-- Citation Tab -->

    <div class="tab-pane show active" style="padding: 20px;"
         role="tabpanel" aria-labelledby="bib-tab"
         id="Bibliographic-information">

      <form id="citation-form"
            v-on:submit.prevent="onSubmitForm">
        <span class="badge badge-secondary float-right disa-id-badge"
          title="Unique identifier for this citation">
          {{ doc.id }}
        </span>
        <h5 class="text-dark" style="width:25%;float:left;">
          Citation type
        </h5>
        <div style="clear: left;margin-bottom: 36px;">
          <select class="custom-select" id="document_type"
                  v-model="formData.doc.citation_type_id">
            <!-- If unselected, show this at the top -->
            <option value="0" class="initMessage"
                    v-if="!formData.doc.citation_type_id">
              Select a document type:
            </option>
            <option v-for="(docTypeName, docTypeId) in MENU_OPTIONS.document_type"
                    v-bind:value="docTypeId"
                    v-text="docTypeName">
            </option>
          </select>
  </div>

  <div id="citation-fields"
       style="display:flex; flex-direction:column">

    <!-- HEADERS: Priority vs Optional -->

    <h5 id="required-fields-header" style="order:100;" hidden>
      Priority information
    </h5>
    <h5 id="optional-fields-header" style="order:200;margin-top: 24px;" hidden>
      Additional information
    </h5>

    <!-- FIELDS: Dynamically moved under headings via flexbox order property -->

    <div class="citation-field form-floating" id="abstractNote">
      <input type="text" class="form-control" id="abstractNote-value" aria-label="Abstract Note" placeholder="Abstract Note" v-model="formData.doc.fields.abstractNote">
      <label for="abstractNote-value">Abstract Note</label>
    </div>

    <div class="citation-field form-floating" id="accessDate">
      <input type="text" class="form-control" id="accessDate-value" name="accessDate-value" aria-label="Access Date" placeholder="Access Date" v-model="formData.doc.fields.accessDate">
      <label for="accessDate-value">Access Date</label>
    </div>

    <div class="citation-field form-floating" id="archive">
      <input type="text" class="form-control" id="archive-value" name="archive-value" aria-label="Archive" placeholder="Archive" v-model="formData.doc.fields.archive">
      <label for="archive-value">Archive</label>
    </div>

    <div class="citation-field form-floating" id="archiveLocation">
      <input type="text" class="form-control" id="archiveLocation-value" name="archiveLocation-value" aria-label="Archive Location" placeholder="Archive Location" v-model="formData.doc.fields.archiveLocation">
      <label for="archiveLocation-value">Archive Location</label>
    </div>

    <div class="citation-field form-floating" id="author">
      <input type="text" class="form-control" id="author-value" name="author-value" aria-label="Author" placeholder="Author (last name comes first)" v-model="formData.doc.fields.author">
      <label for="author-value">Author</label>
    </div>

    <div class="citation-field form-floating" id="callNumber">
      <input type="text" class="form-control" id="callNumber-value" name="callNumber-value" aria-label="Call Number" placeholder="Call Number" v-model="formData.doc.fields.callNumber">
      <label for="callNumber-value">Call Number</label>
    </div>

    <div class="citation-field form-group text-dark"
      id="date">
      <label for="date-value"
        style="padding-right:12px;">Date</label>
      <input id="date-value" name="date-value" placeholder="Date"
             type="date"
             v-model="formData.doc.fields.date" />

      {% comment "BROKEN OUT WITH YEAR/MONTH/DAY FOR WHEN WE'RE IMPLEMENTING THE NEW DATA MODEL" %}

      <label for="date-year-value">Year
        <input id="date-year-value" name="date-year-value" type="number"
                v-model="formData.doc.citation_type_fields['date-year']" />
      </label>
      <label for="date-month-value">Month
        <select id="date-month-value" name="date-month-value"
                v-model="formData.doc.citation_type_fields['date-month']">
          <option value="0">Not specified</option>
          <option value="1">January</option>
          <option value="2">February</option>
          <option value="3">March</option>
          <option value="4">April</option>
          <option value="5">May</option>
          <option value="6">June</option>
          <option value="7">July</option>
          <option value="8">August</option>
          <option value="9">September</option>
          <option value="10">October</option>
          <option value="11">November</option>
          <option value="12">December</option>
        </select>
      </label>
      <label for="date-day-value">Day
        <select id="date-day-value" name="date-day-value"
                v-model="formData.doc.citation_type_fields['date-day']">
          <option	value="0">	Not specified	</option>
          <option	value="1">	1	</option>
          <option	value="2">	2	</option>
          <option	value="3">	3	</option>
          <option	value="4">	4	</option>
          <option	value="5">	5	</option>
          <option	value="6">	6	</option>
          <option	value="7">	7	</option>
          <option	value="8">	8	</option>
          <option	value="9">	9	</option>
          <option	value="10">	10	</option>
          <option	value="11">	11	</option>
          <option	value="12">	12	</option>
          <option	value="13">	13	</option>
          <option	value="14">	14	</option>
          <option	value="15">	15	</option>
          <option	value="16">	16	</option>
          <option	value="17">	17	</option>
          <option	value="18">	18	</option>
          <option	value="19">	19	</option>
          <option	value="20">	20	</option>
          <option	value="21">	21	</option>
          <option	value="22">	22	</option>
          <option	value="23">	23	</option>
          <option	value="24">	24	</option>
          <option	value="25">	25	</option>
          <option	value="26">	26	</option>
          <option	value="27">	27	</option>
          <option	value="28">	28	</option>
          <option	value="29">	29	</option>
          <option	value="30">	30	</option>
          <option	value="31">	31	</option>
        </select>
      </label>
      {% endcomment %}
    </div>

    <div class="citation-field form-floating" id="edition">
      <input type="text" class="form-control" id="edition-value" name="edition-value" aria-label="Edition" placeholder="Edition" v-model="formData.doc.fields.edition">
      <label for="edition-value">Edition</label>
    </div>

    <div class="citation-field form-floating" id="extra">
      <input type="text" class="form-control" id="extra-value" name="extra-value" aria-label="Extra" placeholder="Extra" v-model="formData.doc.fields.extra">
      <label for="extra-value">Extra</label>
    </div>

    <div class="citation-field form-floating" id="ISBN">
      <input type="text" class="form-control" id="ISBN-value" name="ISBN-value" aria-label="ISBN" placeholder="ISBN" v-model="formData.doc.fields.ISBN">
      <label for="ISBN-value">ISBN</label>
    </div>

    <div class="citation-field form-floating" id="ISSN">
      <input type="text" class="form-control" id="ISSN-value" name="ISSN-value" aria-label="ISSN" placeholder="ISSN" v-model="formData.doc.fields.ISSN">
      <label for="ISSN-value">ISSN</label>
    </div>

    <div class="citation-field form-floating" id="language">
      <!-- @todo SHOULD BE A DROPDOWN? -->
      <input type="text" class="form-control" id="language-value" name="language-value" aria-label="Language" placeholder="Language" v-model="formData.doc.fields.language">
      <label for="language-value">Language</label>
    </div>

    <div class="citation-field form-floating" id="libraryCatalog">
      <input type="text" class="form-control" id="libraryCatalog-value" name="libraryCatalog-value" aria-label="Library Catalog" placeholder="Library Catalog" v-model="formData.doc.fields.libraryCatalog">
      <label for="libraryCatalog-value">Library Catalog</label>
    </div>

    <div class="citation-field form-floating" id="pages">
      <input type="text" class="form-control" id="pages-value" name="pages-value" aria-label="Pages" placeholder="Pages" v-model="formData.doc.fields.pages">
      <label for="pages-value">Pages</label>
    </div>

    <div class="citation-field form-floating" id="place">
      <input type="text" class="form-control" id="place-value" name="place-value" aria-label="Place" placeholder="Place" v-model="formData.doc.fields.place">
      <label for="place-value">Place</label>
    </div>

    <div class="citation-field form-floating" id="publicationTitle">
      <input type="text" class="form-control" id="publicationTitle-value" name="publicationTitle-value" aria-label="Publication Title" placeholder="Publication Title" v-model="formData.doc.fields.publicationTitle">
      <label for="publicationTitle-value">Publication Title</label>
    </div>

    <div class="citation-field form-floating" id="publisher">
      <input type="text" class="form-control" id="publisher-value"
             name="publisher-value" aria-label="Publisher"
             placeholder="Publisher"
             v-model="formData.doc.fields.publisher">
      <label for="publisher-value">Publisher</label>
    </div>

    <div class="citation-field form-floating" id="rights">
      <!-- @todo DROPDOWN? -->
      <input type="text" class="form-control" id="rights-value" name="rights-value" aria-label="Rights" placeholder="Rights" v-model="formData.doc.fields.rights">
      <label for="rights-value">Rights</label>
    </div>

    <div class="citation-field form-floating" id="section">
      <input type="text" class="form-control" id="section-value" name="section-value" aria-label="Section" placeholder="Section" v-model="formData.doc.fields.section">
      <label for="section-value">Section</label>
    </div>

    <div class="citation-field form-floating" id="series">
      <input type="text" class="form-control" id="series-value" name="series-value" aria-label="Series" placeholder="Series" v-model="formData.doc.fields.series">
      <label for="series-value">Series</label>
    </div>

    <div class="citation-field form-floating" id="seriesNumber">
      <input type="text" class="form-control" id="seriesNumber-value" name="seriesNumber-value" aria-label="Series Number" placeholder="Series Number" v-model="formData.doc.fields.seriesNumber">
      <label for="seriesNumber-value">Series Number</label>
    </div>

    <div class="citation-field form-floating" id="shortTitle">
      <input type="text" class="form-control" id="shortTitle-value" name="shortTitle-value" aria-label="Short Title" placeholder="Short Title" v-model="formData.doc.fields.shortTitle">
      <label for="shortTitle-value">Short Title</label>
    </div>

    <div class="citation-field form-floating" id="title">
      <input type="text" class="form-control" id="title-value" name="title-value" aria-label="Title" placeholder="Title" v-model="formData.doc.fields.title">
      <label for="title-value">Title</label>
    </div>

    <div class="citation-field form-floating" id="url">
      <input type="text" class="form-control" id="url-value" name="url-value" aria-label="URL" placeholder="Full website link (URL)" v-model="formData.doc.fields.url">
      <label for="url-value">URL</label>
    </div>

  </div>

  <div class="form-floating">
      <textarea class="form-control" placeholder="Enter notes here..." id="formInputDISAAcknowledgements" style="height: 128px"></textarea>
      <label for="formInputDISAAcknowledgements">Acknowledgements</label>
  </div>

  <div class="form-floating">
      <textarea class="form-control" placeholder="Enter notes here..." id="formInputDISABiblioResearcherNotes" style="height: 128px"></textarea>
      <label for="formInputDISABiblioResearcherNotes">Researcher notes</label>
      <a href="#" style="font-size:80%;font-weight:bold;clear:left;">Report problems or ask for help</a>
  </div>

  <p>&nbsp;</p>
  <p>&nbsp;</p>

  <button type="submit"
    class="btn btn-primary btn-md"
    id="citation-form-submit">
    SAVE AND CONTINUE TO ENTER ITEMS
  </button>
  </form>
    </div> <!-- /.tab-pane for bibinfo -->

    <!-- Item Tab -->

    <div class="tab-pane card-body"
         role="tabpanel" aria-labelledby="item-tab" id="Items">

      <!-- Change item modal -->

      <div class="modal" tabindex="-1" id="item-selector-modal">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title">
                Select an item to edit
              </h5>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
              <ul class="list-group">
                <li class="list-group-item d-flex justify-content-between align-items-start"
                    data-bs-dismiss="modal"
                    v-for="item in formData.doc.references"
                    v-on:click="currentItemId = item.id">
                  <div class="ms-2 me-auto"
                       v-text="makeItemDisplayTitle(item, 50)">
                    <!-- <div class="fw-bold">Subheading</div> -->
                  </div>
                  <span class="badge bg-primary rounded-pill"
                        v-text="`ID:${displayId(item.id)}`">14</span>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>

      <div class="tab-content" style="background-color: white!important;opacity:1;">

        <div class="active tab-pane" role="tabpanel" aria-labelledby="New-Item"
             id="New-Item">

          <!-- Top control panel: title, item selector, and new item button -->
          
          <div class="card bg-light">
            <div class="card-body">

              <!-- Main title -->

              <disa-id v-bind:forthis="currentItem" class="float-end"></disa-id>
              <h1 v-text="makeItemDisplayTitle(currentItem)"></h1>
              <div class="float-end">
                <!-- Change item button 
                      (opens modal #item-selector-modal, defined above) -->

                <button type="button" class="btn btn-primary btn-sm"
                        data-bs-toggle="modal" data-bs-target="#item-selector-modal">
                  change item
                </button>

                <!-- Create new item control -->

                <button type="button" class="btn btn-primary btn-sm"
                        v-on:click="makeNewItem">
                  create a new item
                </button>
              </div>
            </div>
          </div>

          <disa-id v-bind:forthis="currentItem" class="float-end"></disa-id>

          <!-- Main item input form -->

          <div id="item-form">
            <form>
              <div class="row col-lg-12" style="padding-top:40px;padding-left:25px;">
                <div class="col-md-6">
                  <h5 class="text-dark" style="float:left;">
                    Item's location in source document
                  </h5>
                  <p>&nbsp;</p>
                  <div class="form-floating">
                    <input type="number" class="form-control"
                           id="formInputDISAItemVolume" aria-label="Volume"
                           placeholder="Volume in source" v-model="currentItem.volume">
                    <label for="formInputDISAItemVolume">Volume</label>
                  </div>
                  <div class="form-floating">
                    <div class="input-group mb-3">
                      <span class="input-group-text">Page numbers from</span>
                      <input type="number"
                              class="form-control" id="formInputDISASourcePageStart"
                              aria-label="starting page number"
                              v-model="currentItem.page_start"
                              placeholder="starting page">
                      <span class="input-group-text">to</span>
                      <input type="number"
                              class="form-control" id="formInputDISASourcePageEnd" aria-label="ending page number"
                              placeholder="ending page" v-model="currentItem.page_end">
                    </div>
                  </div>
                </div>
                <div class="col-md-6">
                  <h5 class="text-dark">Item content</h5>
                  <div class="form-floating">
                    <select class="form-select"
                            id="formInputDISAItemType"
                            aria-label="Event date: month"
                            v-model="currentItem.type">
                      <option v-for="(itemTypeOption, itemTypeOptionId) in MENU_OPTIONS.formInputDISAItemType"
                              v-bind:value="itemTypeOptionId"
                              v-text="itemTypeOption"></option>
                    </select>
                    <label for="formInputDISAItemType">Item type</label>
                  </div>
                  <div class="form-floating">
                    <textarea class="form-control"
                              placeholder="Transcription"
                              id="formInputDISAItemTranscription"
                              style="height: 128px"
                              v-model="currentItem.transcription"></textarea>
                    <label for="formInputDISAItemTranscription">Transcription</label>
                    <a href="#" style="font-size:80%;font-weight:bold;clear:left;">Open in new window</a> </div>
                </div>
              </div> <!-- /.row -->
              <hr>
              <div class="row" style="padding:25px;">
                <div class="col-md-6">
                  <h5 class="text-dark">Event date</h5>

                  <div class="input-group mb-3"> <!--
                    <span class="input-group-text" id="basic-addon1">@</span>
                    <input type="text" class="form-control" placeholder="Username" aria-label="Username" aria-describedby="basic-addon1">
                    -->
                    <select class="form-select" id="formInputDISAEventDateMonth"
                            aria-label="Event date: month" placeholder="Month">
                      <option value="0">Month unspecified</option>
                      <option value="1">January</option>
                      <option value="2">February</option>
                      <option value="3">March</option>
                      <option value="4">April</option>
                      <option value="5">May</option>
                      <option value="6">June</option>
                      <option value="7">July</option>
                      <option value="8">August</option>
                      <option value="9">September</option>
                      <option value="10">October</option>
                      <option value="11">November</option>
                      <option value="12">December</option>
                    </select>
                    <input class="form-control" id="formInputDISAEventDateDay"
                            type="number" min="0" max="31" placeholder="Day">
                    <input class="form-control" id="formInputDISAEventDateYear"
                            type="number" min="1500" max="1900" placeholder="Year">
                  </div>
                  <div class="form-floating">
                    <input type="text" class="form-control" id="formInputDISAEventDateInfo" aria-label="Additional date information" placeholder="Additional date info.">
                    <label for="formInputDISAEventDateInfo">Additional date info.</label>
                  </div>
                </div>
                <div class="col-md-6">
                  <h5 class="text-dark">Place</h5>
                  <div class="form-floating">
                    <select class="form-select" id="formInputDISAColonialContext" aria-label="Colonial context">
                      <option v-for="(colonialContextOption, colonialContextOptionId) in MENU_OPTIONS.formInputDISAColonialContext"
                              v-bind:value="colonialContextOptionId"
                              v-text="colonialContextOption">
                    </select>
                    <label for="formInputDISAColonialContext">Colonial context</label>
                  </div>
                  <div class="form-floating">
                    <input type="text" class="form-control" id="formInputDISAColonyState" aria-label="Colony / State" placeholder="Colony / State">
                    <label for="formInputDISAColonyState">Colony / State</label>
                  </div>
                  <div class="form-floating">
                    <input type="text" class="form-control" id="formInputDISATown" aria-label="Town" placeholder="Town">
                    <label for="formInputDISATown">Town</label>
                  </div>
                  <div class="form-floating">
                    <input type="text" class="form-control" id="formInputDISAPlaceInfo" aria-label="Additional location information" placeholder="Additional location info.">
                    <label for="formInputDISAPlaceInfo">Additional location info.</label>
                  </div>
                </div>
              </div>
              <hr>

              <!-- People / referents -->

              <div class="row" style="padding-top:20px;padding-right:20px;">
                <div class="col-md-12" style="margin-left: 40px;">

                  <!-- Add new referent button -->

                  <h5 class="text-dark" style="float:left;">People
                    <button class="btn btn-link btn-sm"
                            v-on:click="makeNewReferent"
                            title="Enter information for a new person">
                      +new
                    </button>
                  </h5>
                  <div class="col-lg-12" style="padding-right: 40px; clear: both">
                    <div class="card"
                          v-for="(referent, referentId) in currentItem.referents">

                      <!-- Main (clickable accordion) header for this referent -->

                      <div class="card-header"
                            v-on:click="currentReferentId = (currentReferentId === referent.id) ? -1 : referent.id">
                        <span v-if="referent.first || referent.last"
                              vv-text="getReferentDisplayLabel(referent)"
                              v-text="`${referent.first} ${referent.last}`">
                        </span>
                        <span v-else-if="referent.names && referent.names.length && (referent.names[0].first || referent.names[0].last)"
                              v-text="`${referent.names[0].first} ${referent.names[0].last}`">
                        </span>
                        <em v-else>New person</em>
                        <disa-id v-bind:forthis="referent" class="float-end"></disa-id>
                      </div>

                      <!-- Edit area for this referent -->

                      <div class="card-body"
                            v-if="currentReferentId === referent.id">
                        <div class="card card-body">

                          <!-- Name(s) -->

                          <!-- Create new name button -->

                          <div>
                            <strong v-text="'Name' + (referent.names && referent.names.length > 1 ? 's' : '')"></strong>
                            <button type="button" class="btn btn-link btn-sm" id="formInputDISAPersonAddName"
                                    v-on:click="makeNewReferentName"
                                    title="Enter new name for this person">
                              +new
                            </button>
                          </div>

                          <!-- List of names -->

                          <ul>
                            <li v-for="(name, nameIndex) in referent.names">

                              <div v-on:click="currentNameId = (currentNameId === name.id) ? -1 : name.id">
                                <span v-if="name.first || name.last"
                                      v-text="`${name.first} ${name.last}`">
                                </span>
                                <em v-else>
                                  New name
                                </em>
                              </div>

                              <div v-if="currentNameId === name.id">

                                <!-- ADVANCED NAMES - DEFER TO V2
                                <div class="custom-control custom-switch" style="">
                                  <input type="checkbox" class="custom-control-input" id="formCustomSwitchForAdvancedNames"
                                          v-model="referent.name">
                                  <label style="font-size: 85%;margin-top: -10px;font-weight:bold;"
                                          class="custom-control-label" for="formCustomSwitchForAdvancedNames">
                                    ADVANCED NAME OPTIONS (if the first / last name designation doesn't apply)
                                  </label>
                                </div> -->

                                <div class="form-floating">
                                  <select class="form-select" id="formInputDISAItemPersonNameType" aria-label="Name type"
                                          v-model="name.name_type">
                                    <option v-for="(nameTypeMenuLabel, nameTypeId) in MENU_OPTIONS.formInputDISAItemPersonNameType"
                                            v-bind:value="nameTypeMenuLabel"
                                            v-text="nameTypeMenuLabel">
                                    </option>
                                  </select>
                                  <label for="formInputDISAItemPersonNameType">Name type</label>
                                </div>
                                <!-- NAME TRANSCRIPTION - DEFER TO V2? OR DROP?
                                <div class="form-floating">
                                  <input type="text"
                                          class="form-control" id="formInputDISAItemPersonNameTranscription"
                                          aria-label="Full name transcription"
                                          placeholder="The name as it's written in the document"
                                          v-model="referent.transcription">
                                  <label for="formInputDISAItemPersonNameTranscription">Full name transcription</label>
                                </div> -->
                                <div class="form-floating">
                                  <input type="text" class="form-control" id="formInputDISAItemPersonFirstName"
                                          aria-label="First name" placeholder="First name"
                                          v-model="name.first">
                                  <label for="formInputDISAItemPersonFirstName">First name</label>
                                </div>
                                <div class="form-floating">
                                  <input type="text" class="form-control" id="formInputDISAItemPersonLastName"
                                          aria-label="Last name" placeholder="Last name"
                                          v-model="name.last">
                                  <label for="formInputDISAItemPersonLastName">Last name</label>
                                </div>
                              </div>
                            </li>
                          </ul>
                        </div>
                        <div class="row" style="padding-top:10px;clear: both;">
                          <div class="col-md-6">
                            <div class="form-floating">
                              <select class="form-select" id="formInputDISAPersonGender"
                                      aria-label="New person's gender" placeholder="Gender"
                                      v-model="referent.sex">
                                <option v-for="(genderOption, genderOptionId) in MENU_OPTIONS.formInputDISAPersonGender"
                                        v-bind:value="genderOptionId"
                                        v-text="genderOption">
                              </select>
                              <label for="formInputDISAPersonGender">Gender</label>
                            </div>
                            <div class="form-group">
                              <div class="form-floating">
                                <!--
                                <input vv-if="TEST FOR age_number"
                                        type="number" min="0" max="110"> -->
                                <select class="form-select" id="formInputDISAPersonAge_number" 
                                        aria-label="New person's age (number)" 
                                        placeholder="New person's age (number)">
                                  <option selected>&nbsp;</option>
                                  <option value="-1">Unspecified</option>
                                  <option value="1">1 year</option>
                                  <option value="2">2 years</option>
                                  <option value="3">3 years</option>
                                </select>
                                <label for="formInputDISAPersonAge_number">Age</label>
                                <input type="text" class="form-control" id="formInputDISAPersonAge_text" aria-label="New person's age (text)" placeholder="New person's age (text)">
                                <div class="form-check" style="margin-top:-6px;">
                                  <input class="form-check-input" style="margin-left:.125em;" type="checkbox" id="formInputSpecifiedByNumber" value="option1">
                                  <label class="form-check-label" style="font-size: 85%;font-weight:bold;margin-left:.5em;margin-top:-10px;" for="formInputSpecifiedByNumber">AGE SPECIFIED BY A NUMBER</label>
                                </div>
                              </div>
                            </div>
                            <div class="form-floating">
                              <!--
                              <input class="form-select taggedInput" id="formInputDISAPersonStatus" aria-label="New person's status"
                                      value="yes1, yes2, yes3"
                                      placeholder="Status">
                                </input>-->

                              <disa-tags value="One, Two, Three"></disa-tags>
                              <label for="formInputDISAPersonStatus">Status</label>
                            </div>
                            <div class="form-floating">
                              <input type="text" class="form-control" id="formInputDISAStatusInfo" aria-label="Additional status information" placeholder="Additional status info.">
                              <label for="formInputDISAStatusInfo">Additional status info.</label>
                            </div>
                            <div class="form-floating">
                              <select class="form-control" id="formInputDISAPersonVocation" aria-label="Vocation" placeholder="Vocation">
                                <option v-for="(vocationOption, vocationOptionId) in MENU_OPTIONS.formInputDISAPersonVocation"
                                        v-bind:value="vocationOptionId"
                                        v-text="vocationOption">
                                </option>
                              </select>
                              <label for="formInputDISAPersonVocation">Vocation</label>
                            </div>
                          </div>
                          <div class="col-md-6">
                            <div class="form-floating">
                              <select class="form-select" id="formInputDISAPersonRace" 
                                      aria-label="This person's race designation"
                                      v-model="currentReferentRaceID">
                                  <option v-for="(raceOption, raceOptionId) in MENU_OPTIONS.formInputDISAPersonRace"
                                          v-bind:value="raceOptionId"
                                          v-text="raceOption"></option>
                              </select>
                              <label for="formInputDISAPersonRace">Race</label>
                            </div>
                            <div class="form-floating">
                              <input type="text" class="form-control" id="formInputDISAPersonRaceTerms" aria-label="Exact racial terms used" placeholder="Exact racial terms used">
                              <label for="formInputDISAPersonRaceTerms">Exact racial terms used</label>
                            </div>
                            <div class="form-floating-x">
                              <label for="formInputDISAPersonTribe">Tribe</label>
                              <disa-tags v-model="currentReferentTribesForTagify"
                                         v-bind:suggestions="MENU_OPTIONS.formInputDISAPersonTribe"
                                         id="formInputDISAPersonTribe"></disa-tags>
                            </div>
                            <div class="form-floating">
                              <input type="text" class="form-control" id="formInputDISAPersonTribeTerms" aria-label="Exact identity/geographical terms used" placeholder="Exact identity/geographical terms used">
                              <label for="formInputDISAPersonTribeTerms">Exact identity/geographical terms used</label>
                            </div>
                            <div class="form-floating">
                              <input type="text" class="form-control" id="formInputDISAPersonGeoOrigins" aria-label="Geographic origins" placeholder="Geographic origins">
                              <label for="formInputDISAPersonGeoOrigins">Geographic origins</label>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>

              <!-- ITEM NOTES -->

              <hr />
              <h5>Notes</h5>
              <div class="col-lg-12" style="padding-top:0px;padding-left:40px;padding-right:40px;padding-bottom:40px;">
                <div class="form-floating">
                  <textarea class="form-control" placeholder="Enter notes here..." id="formInputDISAPeopleResearcherNotes" style="height: 128px"></textarea>
                  <label for="formInputDISAPeopleResearcherNotes">Researcher notes</label>
                  <a href="#" style="font-size:80%;font-weight:bold;clear:left;">Report problems or ask for help</a> </div>
                <button type="button" class="btn btn-secondary btn-md" style="font-weight: bold;margin-top: 20px;">ALL CHANGES SAVED</button>
                <button type="button" class="btn btn-primary btn-md" style="font-weight: bold;margin-top: 20px;margin-left: 15px;">SAVE ITEM AND EXIT THIS SOURCE DOCUMENT</button>
              </div>
            </form>
          </div>
        </div> <!-- /.tab-pane for items -->
      </div> <!-- /.tab-content for items -->
    <!-- </div> -->
    </div>
  </div>
</div> <!-- /#tabs_bibinfoanditems -->

{% endblock content %}


{% block page_specific_js %}


{% endblock page_specific_js %}
