{% extends "disa_app_templates/base.html" %}
{% load staticfiles %}
{% block header_other %}
<!-- Styles -->
<link href="https://cdn.jsdelivr.net/npm/@yaireo/tagify/dist/tagify.css" rel="stylesheet" type="text/css" />
</link>
<!-- Scripts -->
<script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
<!-- Production version of Vue: <script src="https://cdn.jsdelivr.net/npm/vue@2"></script> -->
<script src="https://cdn.jsdelivr.net/npm/@yaireo/tagify"></script>
<!-- Bundle of JS modules -->
<!-- Non-bundled JS modules -->
<script src="{% static 'js/entry_form_citation.js' %}" type="module"></script>
<script src="https://cdn.tiny.cloud/1/ondkaoffzc1dnoz0vypajv5qg9fvnun0bss1ew22yncnvquc/tinymce/5/tinymce.min.js" referrerpolicy="origin"></script>
<script type="text/javascript">
var API_URL_ROOT = "{{ API_URL_ROOT }}", // eg `http://127.0.0.1:8000/data/`` -- or the proper dev or production /data/ root url -- used to build other api endpoints.
    data_itemrecord_api_url_root = "{{ data_itemrecord_api_url_root }}", // needed by `redesign_data.js`
    TOKEN = "{{ csrf_token }}";

</script>
{% endblock header_other %}
{% block nav_options %}
<li class="nav-item"><button class="btn btn-outline-info" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvas" aria-controls="offcanvas">
        Info
    </button></li>
{% endblock nav_options %}
{% block sidebar %}
<!-- insert offcanvas info -->
{% include "disa_app_templates/modals/info_aside.html" %}
{% endblock sidebar %}
<!-- The content-block html below is within the redesign_base.html template's `<main class="container">` element. -->
{% block content %}
<!-- JavaScript-savvy URL control to toggle div display between
     #startpanel above & #tabs_bibinfoanditems below -->
<!-- MAIN NAV TABS -->
<div id="tabs_bibinfoanditems">
    <h1 id="sourceTitle"></h1>
    <ul class="nav nav-tabs" role="tablist">
        <li class="nav-item" role="presentation">
            <button class="nav-link" id="bib-tab" data-bs-toggle="tab" data-bs-target="#Bibliographic-information" type="button" role="tab" aria-controls="Bibliographic-information" aria-selected="true">
                About the source
            </button>
        </li>
        <li class="nav-item" role="presentation">
            <button class="nav-link active" id="item-tab" data-bs-toggle="tab" data-bs-target="#Items" type="button" role="tab" aria-controls="Items" aria-selected="false">
                Records in this source
            </button>
        </li>
        <li class="nav-item" role="presentation">
            <button class="nav-link" id="item-tab" data-bs-toggle-x="tab" data-bs-target-x="#change-source" type="button" role="tab" aria-controls="Change source" aria-selected="false" onclick="document.getElementById('loading-change-source').hidden = false; window.location.href = '../../redesign_citations/'">Change to another source</button>
        </li>
    </ul>
    <!-- TAB CONTENT -->
    <div class="tab-content">
        <!-- Source Tab -->
        <div class="tab-pane" role="tabpanel" aria-labelledby="bib-tab" id="Bibliographic-information">
            {% include "disa_app_templates/forms/citation.html" %}
        </div> <!-- /.tab-pane for Source -->
        <!-- Record Tab -->
        <div class="tab-pane show active" role="tabpanel" aria-labelledby="item-tab" id="Items">
            <!-- "Save status" indicator -->
            <disa-save-status class="badge sticky-top float-end" ref="database"></disa-save-status>
            <!-- Actual Record tab content -->
            <div class="not-tab-content">
                <div class="not-tab-pane why-active" role="tabpanel" aria-labelledby="New-Item" id="New-Item">
                    <!-- If no Record currently selected, then show list of all Records -->
                    <div v-if="currentItemId === -1 || !currentItemId">
                        <h2>
                            Records contained within this Source
                        </h2>
                        <button type="button" class="btn btn-primary" v-on:click="createNewItem">
                            Create new record in this source
                        </button>
                        <h3>Select a Record</h3>
                        <ul class="list-group">
                            <li class="list-group-item d-flex justify-content-between align-items-center" v-for="item in formData.doc.references" v-on:click="currentItemId = item.id">
                                <p class="mb-0" v-text="makeItemDisplayTitle(item, 50)">
                                </p>
                                <disa-id v-bind:forthis="item" class="float-end"></disa-id>
                            </li>
                        </ul>
                    </div><!-- end v-if -->
                    <!-- If there IS a current Record selected, then show edit interface for that Record -->
                    <!-- start edit Record form -->
                    <div v-else>
                        <!-- Top control panel: title, Record selector, and new Record button -->
                        <h2 v-html="makeItemDisplayTitle(currentItem)"></h2>
                        <div class="btn-group">
                            <!-- Change Record button if more than one Record, (opens modal #item-selector-modal, defined at bottom of html file) -->
                            <button type="button" class="btn btn-outline-primary btn-sm" data-bs-toggle-x="modal" data-bs-target-x="#item-selector-modal" v-on:click="currentItemId = -1">
                                Show all records in this source
                            </button>
                            <!-- Create new Record button-->
                            <button type="button" class="btn btn-outline-primary btn-sm" v-on:click="createNewItem">Create new record in this source</button>
                            <!-- Delete Record button -->
                            <button type="button" class="btn btn-outline-danger btn-sm">
                                &times; delete this record
                            </button>
                        </div>
                        <!-- Main Record input form -->
                        <form id="item-form">
                            {% include "disa_app_templates/forms/record_metadata.html" %}
                            <!-- People (Referents/individuals and groups) -->
                            <div>
                                <fieldset class="row">
                                    <legend class="visually-hidden">People</legend>
                                    <!-- Add new referents and group button -->
                                    <h3>People</h3>
                                    <div class="btn-group">
                                        <button class="btn btn-sm" v-if="currentItem.referents.length === 0" v-on:click="makeNewReferent" title="Enter information for a new person">
                                            Add new individual
                                        </button>
                                        <button class="btn btn-primary btn-sm" v-if="currentItem.groups.length === 0" v-on:click="makeNewGroup" title="Enter information for a new group">Add new group</button>
                                    </div>
                                    <!-- Individuals-->
                                    <div v-if="currentItem.referents.length > 0">
                                        <h4>Individuals</h4>
                                        <button class="btn btn-primary btn-sm" v-on:click="makeNewReferent" title="Enter information for a new person">Add new individual</button>
                                    </div>
                                    <div class="card" v-for="referent in currentItem.referents">
                                        <h5 class="card-title card-header collapsable" v-on:click="currentReferentId = (currentReferentId === referent.id) ? -1 : referent.id" v-text="getReferentDisplayLabel(referent)"></h5>
                                        <section class="card-body" v-if="currentReferentId === referent.id">
                                            <disa-id v-bind:forthis="referent" class="float-end"></disa-id>
                                            {% include "disa_app_templates/forms/person.html" %}
                                        </section>
                                    </div><!-- end individual referent collapsable wrapper -->
                                    <div v-if="currentItem.groups.length > 0" class="mt-3">
                                        <h4>Groups</h4>
                                        <button class="btn btn-primary btn-sm" v-on:click="makeNewGroup" title="Enter information for a new group">
                                            Add new group
                                        </button>
                                    </div>
                                    <div class="card" v-for="group in currentItem.groups">
                                        <!-- Main (clickable accordion) header for this group -->
                                        <h5 class="collapsable card-header card-title" v-on:click="currentGroupId = (currentGroupId === group.uuid) ? -1 : group.uuid" v-text="getGroupDisplayLabel(group)"></h5>
                                        <section class="card-body">
                                            {% include "disa_app_templates/forms/group.html" %}
                                        </section>
                                    </div>
                                    <a type="button" class="btn btn-primary btn-md" v-on:click="saveItemDataToServer" href="../../redesign_citations/">
                                        Save record and return to citations list
                                    </a>
                        </form>
                    </div> <!-- end v-else Record -->
                </div> <!-- /.tab-pane for Record -->
            </div> <!-- /.tab-content for Record -->
        </div> <!-- /.tab-pane for Record -->
    </div><!-- end tab content container -->
</div> <!-- /#tabs_bibinfoanditems -->
<!-- "Change Record" modal -->
{% include "disa_app_templates/modals/change_record.html" %}
{% endblock content %}
